mixin car-gallery()
	//| <div class="js-car-gallery car-gallery">
	//| <div class="car-gallery__big">
	//| <img src="https://picsum.photos/780/360" alt="">
	//| <img src="https://picsum.photos/780/360" alt="">
	//| <img src="https://picsum.photos/780/360" alt="">
	//| <img src="https://picsum.photos/780/360" alt="">
	//| <img src="https://picsum.photos/780/360" alt="">
	//| <img src="https://picsum.photos/780/360" alt="">
	//| </div>
	//| <div class="car-gallery__thumb">
	//| <img src="https://picsum.photos/182/84" alt="">
	//| <img src="https://picsum.photos/182/84" alt="">
	//| <img src="https://picsum.photos/182/84" alt="">
	//| <img src="https://picsum.photos/182/84" alt="">
	//| <img src="https://picsum.photos/182/84" alt="">
	//| <img src="https://picsum.photos/182/84" alt="">
	//| </div>
	//| </div>
