<!--
<div class="field-select">
	<span class="field-select__name">Текстовое поле</span>
	<div class="field-select__input-wrap">
		<select class="js-select2 field-select__input" name="state">
			<option value="o1">Option-1</option>
			<option value="o2">Option-2</option>
		</select>
		<span class="field-select__help-text">Обёртка — <code>label</code>. Можно сделать обёртку <code>div</code>, но тогда, возможно, захочется элемент <code>.field-text__name</code> делать <code>label</code> и связывать его с полем по <code>id</code> поля.</span>
	</div>
</div>
-->

//mixin field-select()
//	.field-select
//		| field-select
