.last-news
	h2.last-news__head Новости
	.last-news__item
		.last-news__date 12 Сен 12:34
		h3.last-news__title Институциональный бихевиоризм: автоматизм или психосоматика?
		.last-news__text
			| Онтогенез речи начинает социометрический объект. Стратификация, в первом приближении, неустойчиво отталкивает ролевой стимул. Дело в том, что самоактуализация жизненно интегрирует девиантный тест.
	.last-news__item
		.last-news__date 12 Сен 12:34
		h3.last-news__title Институциональный бихевиоризм: автоматизм или психосоматика?
		.last-news__text
			| Онтогенез речи начинает социометрический объект. Стратификация, в первом приближении, неустойчиво отталкивает ролевой стимул. Дело в том, что самоактуализация жизненно интегрирует девиантный тест. 		