.feedback-box
	.feedback-box__head
		h2.feedback-box__title
			| Отзывы
		.feedback-box__more
			a(href="#") Все отзывы
	.feedback-box__list
		.feedback-box__item
			.feedback-box__avatar
				a(href="#")
					img(src="https://unsplash.it/1000?image=996", alt="")
			.feedback-box__body
				.feedback-box__rating
					| рейтинг
				.feedback-box__author
					| Константин Константинопольский
				.feedback-box__text
					| Выготский разработал, ориентируясь на методологию марксизма, 
					| учение которое утверждает что, архетип вызывает оппортунический 
					| архетип, хотя этот факт нуждается в проверке наблюдением. 
		.feedback-box__item
			.feedback-box__avatar
				a(href="#")
					img(src="https://unsplash.it/1000?image=996", alt="")
			.feedback-box__body
				.feedback-box__rating
					| рейтинг
				.feedback-box__author
					| Константин Константинопольский
				.feedback-box__text
					| Выготский разработал, ориентируясь на методологию марксизма, 
					| учение которое утверждает что, архетип вызывает оппортунический 
					| архетип, хотя этот факт нуждается в проверке наблюдением.
		.feedback-box__item
			.feedback-box__avatar
				a(href="#")
					img(src="https://unsplash.it/1000?image=996", alt="")
			.feedback-box__body
				.feedback-box__rating
					| рейтинг
				.feedback-box__author
					| Константин Константинопольский
				.feedback-box__text
					| Выготский разработал, ориентируясь на методологию марксизма, 
					| учение которое утверждает что, архетип вызывает оппортунический 
					| архетип, хотя этот факт нуждается в проверке наблюдением. 			

