.capability {
    &__inner {
        position: relative;

        margin-bottom: 60px;
        @media screen and (min-width: 568px) {
            margin-bottom: 40px;
        }

        .button {
            position: absolute;

            height: 30px;
            border-radius: 6px;

            left: 0;
            right: 0;
            bottom: -85px;
            font-size: 10px;
            height: 40px;
            max-width: 280px;
            margin: 0 auto;

            @media screen and (min-width: 568px) {
                bottom: -65px;
            }
            @media screen and (min-width: 667px) {
                font-size: 12px;
            }

            
            @include tablet {
                font-size: 18px;
                bottom: 0;
                left: 56.5%;
                height: 68px;
                border-radius: 10px;
                max-width: 100%;
            }
        }
    }

    &__img {
        display: block;
        width: calc(500 / 1086 * 100%);

        @media screen and (min-width: 568px) {
            width: calc(380 / 1086 * 100%);
        }
    }

    &__item {
        display: inline-block;
        background-color: #fff;
        border-radius: 9px;
        box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
        color: #0657FF;
        // padding: 20px 35px;
        font-weight: $weight-medium;
        position: absolute;
        font-size: rem-calc(8px);
        padding: 6px 10px;

        @media screen and (min-width: 568px) {
            font-size: $size-7;
            padding: 10px 15px;
        }
        @media screen and (min-width: 667px) {
            font-size: $size-6;
            padding: 15px;
        }
        @media screen and (min-width: 768px) {
            font-size: $size-6;
            padding: 15px 25px;
            border-radius: 18px;
        }
        @media screen and (min-width: 991px) {
            font-size: $size-4;
            padding: 20px 35px;
        }

        &--1 {
            top: -16%;
            left: 38.8%;
            
            @media screen and (min-width: 568px) {
                top: 0;
                left: 38.8%;
            }
        }
        &--2 {
            top: calc(0% + 4px);
            right: 2.5%;

            @media screen and (min-width: 568px) {
                top: calc(0% + 10px);
                right: 2.5%;
            }
            
            @media screen and (min-width: 667px) {
                top: calc(0% + 10px);
                right: 2.5%;
            }

            @media screen and (min-width: 768px) {
                top: calc(0% + 20px);
                right: 7.5%;
            }
        }
        &--3 {
            top: 27%;
            left: 43.5%;

            
            @media screen and (min-width: 568px) {
                top: 27%;
                left: 43.5%;
            }
        }
        &--4 {
            top: 27%;
            left: 73%;

            @media screen and (min-width: 568px) {
                
            }
        }
        &--5 {
            top: 51%;
            left: 33.8%;

            @media screen and (min-width: 568px) {
                top: 50%;
                left: 38.8%;
            }
        }
        &--6 {
            top: 71%;
            left: 70%;
            
            @media screen and (min-width: 568px) {
                top: 52%;
                left: 70%;
            }
        }
        &--7 {
            bottom: -13%;
            left: 25.5%;
            
            @media screen and (min-width: 568px) {
                bottom: 5%;
                left: 31.5%;
            }
        }
    }
}