$screen-xs: 0;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$screen-xs-max: ($screen-sm - 1);
$screen-sm-max: ($screen-md - 1);
$screen-md-max: ($screen-lg - 1);
$screen-lg-max: ($screen-xl - 1);

.nav {
  display: flex;
  align-items: center;

  &.is-active {
    // display: flex;
    pointer-events: auto;
    transform: translateY(0px);
    opacity: 1;
  }

  @media screen and (max-width: 767px) {
    position: absolute;
    left: 0;
    right: 0;
    height: calc(100vh - 100px);
    background-color: #fff;
    z-index: 10000;
    top: 114px;
    padding-left: 20px;
    padding-right: 20px;
    flex-direction: column;
    justify-content: space-evenly;
    pointer-events: none;
    box-shadow: 0px 10px 20px rgba(51, 100, 225, 0.3);
    transform: translateY(20px);
    opacity: 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }

  @media screen and (min-width: 768px) {
    display: flex;
  }

  &__item {

    
    @media screen and (min-width: 768px) {
      &:not(:first-child) {
        margin-left: 25px;
      }

      a.button {
        margin-left: 15px;
      }
    }

    @media screen and (max-width: 767px) {
      a.button {
        transition: none;
        transform: none;
        opacity: 1;
      }
    }

    @include tablet {
      margin-left: 50px;
    }

    
  }

  &__link {
    color: #919AA3;
    line-height: 24px;
    display: block;

    @media screen and (max-width: 767px) {
      font-size: 24px;
      line-height: 32px;
    }


    &:hover,
    &.active {
      color: #141414;
    }

    &.active {
      position: relative;
      &::after {
        content: '';
        height: 2px;
        width: 39px;
        background-color: #2DE691;
        display: block;
      }
    }
  }
}

.nav-mobile {
  font: inherit;
  display: inline-block;
  overflow: visible;
  margin: 0;
  padding: 15px;
  cursor: pointer;
  transition-timing-function: linear;
  transition-duration: .15s;
  transition-property: opacity,filter;
  text-transform: none;
  color: inherit;
  border: 0;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    display: none;
  }
  
  &:focus {
    outline: none;
  }
}

.nav-mobile.is-active:hover,.nav-mobile:hover {
  opacity: .7
}

.nav-mobile.is-active .nav-mobile__inner,.nav-mobile.is-active .nav-mobile__inner:after,.nav-mobile.is-active .nav-mobile__inner:before {
  background-color: #3364e1
}

.nav-mobile__box {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 24px
}

.nav-mobile__inner {
  top: 50%;
  display: block;
  margin-top: -2px
}

.nav-mobile__inner,.nav-mobile__inner:after,.nav-mobile__inner:before {
  position: absolute;
  width: 40px;
  height: 4px;
  transition-timing-function: ease;
  transition-duration: .15s;
  transition-property: transform;
  border-radius: 4px;
  background-color: #3364e1
}

.nav-mobile__inner:after,.nav-mobile__inner:before {
  display: block;
  content: ""
}

.nav-mobile__inner:before {
  top: -10px
}

.nav-mobile__inner:after {
  bottom: -10px
}

.nav-mobile--squeeze .nav-mobile__inner {
  transition-timing-function: cubic-bezier(.55,.055,.675,.19);
  transition-duration: 75ms
}

.nav-mobile--squeeze .nav-mobile__inner:before {
  transition: top 75ms ease .12s,opacity 75ms ease
}

.nav-mobile--squeeze .nav-mobile__inner:after {
  transition: bottom 75ms ease .12s,transform 75ms cubic-bezier(.55,.055,.675,.19)
}

.nav-mobile--squeeze.is-active .nav-mobile__inner {
  transition-delay: .12s;
  transition-timing-function: cubic-bezier(.215,.61,.355,1);
  transform: rotate(45deg)
}

.nav-mobile--squeeze.is-active .nav-mobile__inner:before {
  top: 0;
  transition: top 75ms ease,opacity 75ms ease .12s;
  opacity: 0
}

.nav-mobile--squeeze.is-active .nav-mobile__inner:after {
  bottom: 0;
  transition: bottom 75ms ease,transform 75ms cubic-bezier(.215,.61,.355,1) .12s;
  transform: rotate(-90deg)
}