$screen-xs: 0;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$screen-xs-max: ($screen-sm - 1);
$screen-sm-max: ($screen-md - 1);
$screen-md-max: ($screen-lg - 1);
$screen-lg-max: ($screen-xl - 1);

.nav {
  display: flex;
  align-items: center;

  &__item {
    &:not(:first-child) {
      margin-left: 50px;
    }
    a.button {
      margin-left: 15px;
    }
  }

  &__link {
    color: #919AA3;

    &:hover,
    &.active {
      color: #141414;
    }
  }
}

// .nav {
//   display: flex;

//   &-main {
//     display: flex;

//     &__item {
//       position: relative;

//       &.active,
//       &:hover {
//         .nav-main__link {
//           border-bottom-color: #00a9a4;
//           color: #fff;
//           text-decoration: none;
//         }
//       }

//       @media screen and (min-width: 1025px) {
//         .nav-dropdown {
//           position: absolute;
//         }

//         &:hover {
//           .nav-dropdown {
//             display: block;
//           }
//         }
//       }

//     }

//     &__link {
//       display: block;
//       color: #fff;
//       font-size: 12px;
//       padding: 20px 20px 15px;
//       border-bottom: 3px solid transparent;
//       position: relative;

//       &[data-notice]:after {
//         content: attr(data-notice);
//         background-color: #4cccc9;
//         display: block;
//         min-width: 18px;
//         height: 18px;
//         line-height: 18px;
//         padding: 0 3px;
//         text-align: center;
//         font-size: 9px;
//         border-radius: 18px;
//         color: #353535;
//         position: absolute;
//         top: 6px;

//         @media screen and (min-width: 1025px) {
//           right: 0;
//         }

//         @media screen and (max-width: 1024px) {
//           left: 140px;
//           right: auto;
//         }
//       }

//       @media screen and (min-width: 1140px) and (max-width: 1365px) {
//         padding-left: 12px;
//         padding-right: 12px;
//       }
//     }
//   }

//   &-second {
//     display: flex;

//     &__item {
//       position: relative;

//       > a {
//         display: inline-block;
//         text-decoration: none;
//         font-size: 12px;
//         color: #fff;
//         border-bottom: 3px solid transparent;
//         padding: 20px 12px 14px;

//         @media screen and (max-width: 767px) {
//           padding-left: 20px;
//           padding-right: 20px;
//           width: 100%;
//         }
//       }

//       .nav-dropdown {
//         right: 0;
//       }

//       &--favorite,
//       &--search {
//         @media screen and (min-width: $screen-md) {
//           span {
//             display: none;
//           }
//         }
//       }

//       &--location {
//         .icon-svg {
//           transform: rotate(90deg);
//         }
//       }

//       &--lang {
//         .nav-dropdown__link {
//           padding-left: 12px;
//           padding-right: 12px;

//           img {
//             vertical-align: top;
//           }
//         }
//       }

//       .nav-dropdown-trigger {
//         display: none;
//       }

//       &:hover {

//         .icon-svg {
//           fill: #00a9a4;
//         }

//         @media screen and (min-width: 1025px) {
//           .nav-dropdown {
//             display: block;
//           }
//         }

//       }

//       @media screen and (min-width: 768px) {
//         .nav-dropdown {
//           position: absolute;
//         }

//         &:hover {
//           .nav-dropdown {
//             display: block;
//           }
//         }
//       }
//     }

//     span {
//       margin-left: 7px;
//     }
//   }
// }

// .nav-dropdown {
//   display: none;
//   background-color: #353535;
//   top: 100%;
//   z-index: 1;

//   &__item {
//     white-space: nowrap;

//     &:not(:first-child) {
//       border-top: 1px solid #4a4a4a;
//     }
//   }

//   &__link {
//     padding: 14px 18px 12px 18px;
//     display: block;
//     line-height: normal;
//     text-decoration: none;
//     font-size: 12px;
//     color: #fff;
//     background-color: #4a4a4a;
//     color: #fff;

//     &:hover {
//       background-color: #00a9a4;
//       color: #fff;
//       text-decoration: none;
//     }
//   }

//   &.show {
//     display: block;
//   }
// }

// // мобильное меню

// .nav-mobile {
//   .phone {
//     display: none;
//   }

//   .nav-main,
//   .nav-second {
//     &__item {
//       position: relative;
//     }
//   }

//   .nav-dropdown-trigger {
//     display: inline-block;
//     background: url("../img/svg/arrow-white.svg") no-repeat center center / 25%;
//     background-color: #4a4a4a;
//     padding: 26px;
//     cursor: pointer;
//     position: absolute;
//     right: 0;
//     top: 0;

//     &.active {
//       transform: rotateX(180deg);
//     }
//   }

//   @media screen and (max-width: 1024px) {
//     //display: none;
//     background-color: #353535;
//     position: fixed;
//     width: 0;
//     padding-bottom: 10%;
//     top: 52px;
//     left: 0;
//     bottom: 0;
//     flex-direction: column;
//     overflow-y: auto;

//     .nav-main {
//       flex-wrap: wrap;
//       order: 0;
//       display: block;

//       &__item {
//         width: 100%;
//       }
//     }

//     .nav-main__item,
//     .nav-second__item {
//       > span {
//         margin-left: 0;
//       }
//     }

//     .nav-main__link,
//     .link-auth {
//       width: 100%;
//       flex: 1;
//     }

//     .nav-dropdown {
//       width: 100%;
//     }

//     &.open {
//       display: flex;
//       width: 290px;
//     }
//   }

//   @media screen and (max-width: 767px) {
//     .nav-second {
//       flex-wrap: wrap;
//       order: 1;
//       display: block;

//       &__item {
//         width: 100%;

//         &--favorite,
//         &--search {
//           float: left;
//         }

//         &--favorite {
//           width: 45%;
//         }

//         &--search {
//           width: 55%;
//         }

//         &--location {
//           clear: both;
//         }
//       }
//     }
//   }
// }

// .region-notification {
//   position: absolute;
//   top: 100%;
//   left: 50%;
//   background-color: #fff;
//   padding: 20px;
//   box-shadow: 0 6px 13px 0 rgba(0, 0, 0, 0.25);
//   transform: translateX(-50%);
//   text-align: center;

//   @media screen and (min-width: 375px) {
//     width: 350px;
//   }

//   @media screen and (max-width: 1024px) {
//     position: fixed;
//     z-index: 1;
//     top: 50%;
//     transform: translate(-50%, -50%);
//   }

//   &__head {
//     span {
//       display: block;
//       font-size: 18px;
//       font-weight: 600;
//       padding: 15px 0;
//       margin: 0;
//     }
//   }

//   &__btn {
//     display: flex;
//     justify-content: center;
//     flex-wrap: wrap;
//     .btn {
//       margin: 10px 5px 0;
//       padding-left: 15px;
//       padding-right: 15px;
//       border-radius: 0;
//     }
//   }
// }

// .mobile-trigger {
//   margin: 0 -10px 0 0;
//   padding: 0;
//   height: 52px;
//   min-width: 52px;
//   line-height: 52px;
//   display: inline-block;
//   font-size: 15px;
//   font-family: 'Open Sans', Arial;
//   font-weight: bold;
//   text-align: center;
//   text-decoration: none;
//   text-transform: uppercase;
//   vertical-align: middle;
//   white-space: nowrap;
//   color: #00a9a4;
//   background: transparent;
//   border: none;
//   border-radius: none;
//   box-sizing: border-box;
//   appearance: none;
//   order: 2;

//   &:focus {
//     outline: none;
//   }

//   @media screen and (min-width: 1025px) {
//     display: none;
//   }
// }

// .ico-hamburger {
//   display: inline-block;
//   position: relative;
//   overflow: hidden;
//   margin: 0;
//   padding: 0;
//   width: 20px;
//   height: 20px;
//   font-size: 0;
//   text-indent: -9999px;
//   appearance: none;
//   box-shadow: none;
//   border-radius: none;
//   border: none;
//   cursor: pointer;
//   vertical-align: -3px;
//   transition: background 0.2s;
// }

// .ico-hamburger span {
//   display: block;
//   position: absolute;
//   top: 9px;
//   left: 0;
//   right: 0;
//   height: 2px;
//   background: white;
//   transition: background-color 0s 0.2s;
//   transition-duration: 0.2s, 0.2s;
//   transition-delay: 0s 0.1s;
// }

// .ico-hamburger span:before,
// .ico-hamburger span:after {
//   position: absolute;
//   display: block;
//   left: 0;
//   width: 100%;
//   height: 2px;
//   background-color: #fff;
//   content: "";
//   transition-duration: 0.2s, 0.2s;
//   transition-delay: 0.1s, 0s;
// }

// .ico-hamburger span:before {
//   top: -7px;
//   transition-property: top, -webkit-transform;
//   transition-property: top, transform;
//   transition-property: top, transform, -webkit-transform;
// }

// .ico-hamburger span:after {
//   bottom: -7px;
//   transition-property: bottom, -webkit-transform;
//   transition-property: bottom, transform;
//   transition-property: bottom, transform, -webkit-transform;
// }

// .mobile-trigger.active .ico-hamburger span {
//   background-color: #353535;
//   transition-delay: 0.1s, 0s;
// }

// .mobile-trigger.active .ico-hamburger span:before,
// .mobile-trigger.active .ico-hamburger span:after {
//   background-color: #33c4c4;
//   transition-delay: 0s, 0.1s;
// }

// .mobile-trigger.active .ico-hamburger span:before {
//   top: 0;
//   transform: rotate(45deg);
// }

// .mobile-trigger.active .ico-hamburger span:after {
//   bottom: 0;
//   transform: rotate(-45deg);
// }