.tariff {
    border-top: 2px solid #F5F5F5;
    

    &.section {
        padding-top: 2.8125rem;
        padding-bottom: 4.0625rem;
    }

    &__head {
        text-align: center;

        &-title {
            font-weight: $weight-normal;
            font-size: 24px;          
            margin-bottom: 30px;
            line-height: 35px;
            color: #32325C;
            

            @include tablet {
                font-size: 40px;
                line-height: 64px;
            }
        }

        .notice {
            margin-bottom: 34px;
            color: #32325C;
        }

        .buttons {
            padding-bottom: 20px;
            max-width: 900px;
            width: 100%;
            margin: 0 auto;
            
            @include tablet {
                padding-bottom: 72px;
            }
        }

        .button {
            flex-direction: column;
            text-transform: none;
            font-size: 20px;
            font-weight: $weight-normal;
            flex: 1px;
            box-shadow: none;
            height: 3em;

            @include mobile {
                width: 100%;
                flex: auto;
                border-radius: 4px !important;
            }

            small {
                display: block;
                font-size: $size-6;
                letter-spacing: normal;
                padding-top: 4px;
            }
        }
    }

    @include mobile {
        // width: 80%;
        .slick-slide {
            width: calc(100vw - 60px) !important;
            &:last-child {
                width: 100vw !important;
            }
        }
    }
    
    &__item {
        background-color: #fff;
        padding: 40px 15px 15px;
        box-shadow: 0px 0px 0px 0px rgba(10, 138, 255, 0), 0px 7px 0px rgba(83, 83, 83, 0);
        transition: box-shadow 0.175s ease-in-out;
        border: 1px solid #F5F5F5;
        min-width: 230px;

        // @include mobile {
        //     margin-left: -20px;
        //     margin-right: -20px;
        // }

        &:hover {
            box-shadow: 0px -3px 0px 0px rgba(10, 138, 255, 1), 0px 7px 24px rgba(83, 83, 83, 0.1);
            cursor: default;
        }

        @include mobile {
            .button  {
                font-size: 0.925rem;
            }
        }

        &--soon {
            position: relative;
            &:before {
                content: '';
                position: absolute;
                right: 0;
                top: 0;
                width: 101px;
                height: 101px;
                background: url(../img/svg/soon.svg) no-repeat;
            }
            .tariff__head,
            .tariff__options,
            .tariff__price {
                opacity: 0.3;
                pointer-events: none;
            }
        }
    }

    &__name {
        font-size: 32px;
        line-height: 1;
        margin-bottom: 20px;
    }

    &__price {
        color: $blue;
        font-size: 20px;
        line-height: 32px;
        margin-bottom: 20px;

        span {
            display: none;
            margin-right: 10px;
            font-size: 48px;
            line-height: 64px;

            &.show {
                display: inline-block;
            }
        }
    }

    &__options {
        font-size: rem-calc(13px);
        line-height: 16px;
        margin-bottom: 30px;

        li {
            margin-bottom: 13px;
        }
    }
}