.canvas-wrap {
    position: relative;
}
  
// canvas {
//     position: absolute;
//     top: 0;
//     left: 0;
//     z-index: -1;
// }
  
.canvas-wrap {
    background: url("../img/design/bg-win.png") no-repeat center/cover;
}

.win {
    height: 500px;
    width: 100%;
    max-width: 934px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;

    @media screen and (min-width: 992px), print {
        align-items: center;
        flex-direction: row;
    }
}

.win__img {
    flex-shrink: 0;
    margin-right: 120px;

    @media screen and (max-width: 991px) {
        margin-bottom: 15px;
    }
}

.win__text-label {
    font-size: 18px;
    font-weight: 500;
    color: #FFE000;
    margin-bottom: 15px;

    @media screen and (min-width: 992px), print {
        margin-bottom: 5px;
    }
}

.win__text-title {
    font-size: 32px;
    font-weight: 500;
    color: #fff;
    line-height: 1.20833;

    @media screen and (min-width: 992px), print {
        font-size: 48px;
    }
}

