.pagination
	ul.pagination__list
		li.pagination__item
			a(href="").pagination__link l
		li.pagination__item
			a(href="").pagination__link 1
		li.pagination__item
			a(href="").pagination__link.active 2
		li.pagination__item
			a(href="").pagination__link 3
		li.pagination__item
			a(href="").pagination__link 4
		li.pagination__item
			a(href="").pagination__link 5
		li.pagination__item
			a(href="").pagination__link ...
		li.pagination__item
			a(href="").pagination__link r