.mobile-app
	h2.mobile-app__title
		| Мобильное приложение
	.mobile-app__item
		.mobile-app__text
			| Сублимация вызывает гендер. <br>Гетерогенность отражает позитивистский код.
		.mobile-app__link
			a(href="#")
				img(src="../img/app-google.png")
	.mobile-app__item
		.mobile-app__text
			| Акцентуация параллельна.
		.mobile-app__link
			a(href="#")
				img(src="../img/app-apple.png")