include ../mixins/svg-icon.pug
include ../mixins/column-text.pug

doctype html
html(lang="ru-RU")
	head
		meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
		title
			block title
		link(rel="stylesheet" href="../css-new/libs/aos.css")
		link(rel="stylesheet" href="../css-new/libs/slick.css")
		link(rel="stylesheet" href="../css-new/global.css")

		block css

	body

		//- include ../../blocks/header/header

		main.layout
			block content

		footer.footer
			block footer
		
		<!-- scripts -->
		script(src="js/libs/jquery-3.3.1.min.js")
		script(src="js/libs/aos.js")
		script(src="js/libs/slick.min.js")
		script(src="js/template.js")


