include ../mixins/svg-icon.pug
include ../mixins/column-text.pug

doctype html
html(lang="ru-RU")
	head
		meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
		title
			block title
		link(rel="stylesheet" href="css-new/libs/aos.css")
		link(rel="stylesheet" href="css-new/libs/slick.css")
		link(rel="stylesheet" href="css-new/libs/youCover.css")
		link(rel="stylesheet" href="css-new/global.css")

		block css
	body

		//- include ../../blocks/header/header

		main.layout
			block content

		block footer
		
		<!-- scripts -->
		script(src="js/libs/jquery-3.3.1.min.js")
		script(src="js/libs/aos.js")
		script(src="js/libs/slick.min.js")
		script(src="js/libs/youCover.js")
		script(defer src="js/template.js")
		script(src="https://www.youtube.com/iframe_api")
		script.
			var player;

			function onYouTubeIframeAPIReady() {
				player = new YT.Player('video-placeholder', {
					width: 600,
					height: 400,
					videoId: 'yUYyg6ILgA0',
					playerVars: {
						rel: 0,
						color: 'white',
						playlist: 'taJ60kskkns,FG0fTKAqZ5g'
					},
					events: {
						onReady: initialize
					}
				});
			}

			function initialize(){

				// Update the controls on load
				//- updateTimerDisplay();
				//- updateProgressBar();

				// Clear any old interval.
				//- clearInterval(time_update_interval);

				//- // Start interval to update elapsed time display and
				//- // the elapsed part of the progress bar every second.
				//- time_update_interval = setInterval(function () {
				//- 	//- updateTimerDisplay();
				//- 	//- updateProgressBar();
				//- }, 1000)
			}

			// This function is called by initialize()
			function updateTimerDisplay(){
				// Update current time text display.
				$('#current-time').text(formatTime( player.getCurrentTime() ));
				$('#duration').text(formatTime( player.getDuration() ));
			}

			function formatTime(time){
				time = Math.round(time);

				var minutes = Math.floor(time / 60),
				seconds = time - minutes * 60;

				seconds = seconds < 10 ? '0' + seconds : seconds;

				return minutes + ":" + seconds;
			}

			$('#play-button').on('click', function () {
				player.playVideo();
			});

			$('#pause-button').on('click', function () {
				player.pauseVideo();
			});
			


