.box-event
	.box-event__inner
		.box-event__icon
			+svg-icon('car-sedan', 21, 23)
		h2.box-event__title Карта
		.box-event__subtitle Арендуйте автомобиль там, где вам удобно
		.box-event__button
			a(href="map.html").btn.btn--shadow Посмотреть на карте