.box-appeal
	.box-appeal__icon
	h2.box-appeal__title Зарабатывайте с помощью своего автомобиля
	.box-appeal__text
		| Объект отталкивает филосовский филогенез, 
		| таким образом, стратегия поведения, 
		| выгодная отдельному человеку.
	.box-appeal__button
		a(href="").btn.btn--turq Сдать автомобиль