// Float

.is-clearfix {
  @include clearfix;
}

.is-pulled-left {
  float: left !important;
}

.is-pulled-right {
  float: right !important;
}

// Overflow

.is-clipped {
  overflow: hidden !important;
}

// Overlay

.is-overlay {
  @include overlay;
}

// Typography

@mixin typography-size($target: "") {
  @each $size in $sizes {
    $i: index($sizes, $size);
    .is-size-#{$i}#{if($target == "", "", "-" + $target)} {
      font-size: $size !important;
    }
  }
}

@include typography-size;

@include mobile {
  @include typography-size("mobile");
}


@include tablet {
  @include typography-size("tablet");
}


@include touch {
  @include typography-size("touch");
}


@include desktop {
  @include typography-size("desktop");
}


@include widescreen {
  @include typography-size("widescreen");
}


@include fullhd {
  @include typography-size("fullhd");
}


$alignments: ("centered": "center", "justified": "justify", "left": "left", "right": "right");

@each $alignment, $text-align in $alignments {
  .has-text-#{$alignment} {
    text-align: #{$text-align} !important;
  }
}

@each $alignment, $text-align in $alignments {
  @include mobile {
    .has-text-#{$alignment}-mobile {
      text-align: #{$text-align} !important;
    }
  }

  @include tablet {
    .has-text-#{$alignment}-tablet {
      text-align: #{$text-align} !important;
    }
  }

  @include tablet-only {
    .has-text-#{$alignment}-tablet-only {
      text-align: #{$text-align} !important;
    }
  }

  @include touch {
    .has-text-#{$alignment}-touch {
      text-align: #{$text-align} !important;
    }
  }

  @include desktop {
    .has-text-#{$alignment}-desktop {
      text-align: #{$text-align} !important;
    }
  }

  @include desktop-only {
    .has-text-#{$alignment}-desktop-only {
      text-align: #{$text-align} !important;
    }
  }

  @include widescreen {
    .has-text-#{$alignment}-widescreen {
      text-align: #{$text-align} !important;
    }
  }

  @include widescreen-only {
    .has-text-#{$alignment}-widescreen-only {
      text-align: #{$text-align} !important;
    }
  }

  @include fullhd {
    .has-text-#{$alignment}-fullhd {
      text-align: #{$text-align} !important;
    }
  }
}

.is-capitalized {
  text-transform: capitalize !important;
}

.is-lowercase {
  text-transform: lowercase !important;
}

.is-uppercase {
  text-transform: uppercase !important;
}

.is-italic {
  font-style: italic !important;
}

// colors

@each $name, $pair in $colors {
  $color: nth($pair, 1);
  .has-text-#{$name} {
    color: $color !important;
  }
  a.has-text-#{$name} {
    &:hover,
    &:focus {
      color: darken($color, 10%) !important;
    }
  }
  .has-background-#{$name} {
    background-color: $color !important;
  }
}

@each $name, $shade in $shades {
  .has-text-#{$name} {
    color: $shade !important;
  }
  .has-background-#{$name} {
    background-color: $shade !important;
  }
}

.has-text-weight-light {
  font-weight: $weight-light !important;
}

.has-text-weight-normal {
  font-weight: $weight-normal !important;
}

.has-text-weight-semibold {
  font-weight: $weight-semibold !important;
}

.has-text-weight-bold {
  font-weight: $weight-bold !important;
}

// Visibility

$displays: "block" "flex" "inline" "inline-block" "inline-flex";

@each $display in $displays {
  .is-#{$display} {
    display: #{$display} !important;
  }
  @include mobile {
    .is-#{$display}-mobile {
      display: #{$display} !important;
    }
  }

  @include tablet {
    .is-#{$display}-tablet {
      display: #{$display} !important;
    }
  }

  @include tablet-only {
    .is-#{$display}-tablet-only {
      display: #{$display} !important;
    }
  }

  @include touch {
    .is-#{$display}-touch {
      display: #{$display} !important;
    }
  }

  @include desktop {
    .is-#{$display}-desktop {
      display: #{$display} !important;
    }
  }

  @include desktop-only {
    .is-#{$display}-desktop-only {
      display: #{$display} !important;
    }
  }

  @include widescreen {
    .is-#{$display}-widescreen {
      display: #{$display} !important;
    }
  }

  @include widescreen-only {
    .is-#{$display}-widescreen-only {
      display: #{$display} !important;
    }
  }

  @include fullhd {
    .is-#{$display}-fullhd {
      display: #{$display} !important;
    }
  }
}

.is-hidden {
  display: none !important;
}

@include mobile {
  .is-hidden-mobile {
    display: none !important;
  }
}


@include tablet {
  .is-hidden-tablet {
    display: none !important;
  }
}


@include tablet-only {
  .is-hidden-tablet-only {
    display: none !important;
  }
}


@include touch {
  .is-hidden-touch {
    display: none !important;
  }
}


@include desktop {
  .is-hidden-desktop {
    display: none !important;
  }
}


@include desktop-only {
  .is-hidden-desktop-only {
    display: none !important;
  }
}


@include widescreen {
  .is-hidden-widescreen {
    display: none !important;
  }
}


@include widescreen-only {
  .is-hidden-widescreen-only {
    display: none !important;
  }
}


@include fullhd {
  .is-hidden-fullhd {
    display: none !important;
  }
}


.is-invisible {
  visibility: hidden !important;
}

@include mobile {
  .is-invisible-mobile {
    visibility: hidden !important;
  }
}


@include tablet {
  .is-invisible-tablet {
    visibility: hidden !important;
  }
}


@include tablet-only {
  .is-invisible-tablet-only {
    visibility: hidden !important;
  }
}


@include touch {
  .is-invisible-touch {
    visibility: hidden !important;
  }
}


@include desktop {
  .is-invisible-desktop {
    visibility: hidden !important;
  }
}


@include desktop-only {
  .is-invisible-desktop-only {
    visibility: hidden !important;
  }
}


@include widescreen {
  .is-invisible-widescreen {
    visibility: hidden !important;
  }
}


@include widescreen-only {
  .is-invisible-widescreen-only {
    visibility: hidden !important;
  }
}


@include fullhd {
  .is-invisible-fullhd {
    visibility: hidden !important;
  }
}


// Other

.is-marginless {
  margin: 0 !important;
}

.is-paddingless {
  padding: 0 !important;
}

.is-radiusless {
  border-radius: 0 !important;
}

.is-shadowless {
  box-shadow: none !important;
}

.is-unselectable {
  @include unselectable;
}



/* TODO --------------------------------------------------------------------
--- ПЕРЕНЕСЕНО ИЗ LESS ФАЙЛА BASE-NEW --------------------------------------
---------------------------------------------------------------------------- */



//.text-grey { color: $grey-light; }
.text-green { color: $green; }

.text-light { font-weight: $weight-light; }
.text-normal { font-weight: $weight-normal; }
.text-semibold { font-weight: $weight-semibold; }
.text-bold { font-weight: $weight-bold; }

.svg-preloader {
  background: url('../img/svg/svg-preloader.svg') no-repeat center center / contain;
  background-color: rgba(53, 53, 55, 0.5);
  background-size: 140px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;

  &--bg-white {
    background-color: rgba(255, 255, 255, 0.7);
  }
}
@keyframes slidein {
  0% {
    stroke-dashoffset: 156px;
  }
  100% {
    stroke-dashoffset: -156px;
  }
}
@keyframes clickButton {
  0% {
    height: 4px;

  }
  10% {
    height: 4px;
    height: 20.6px;
  }
  100% {
    height: 4px;
    height: 20.6px;
  }
}

.rub {
  font-family: 'als_rub';
  font-size: 0.8em;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  text-transform: none;
}

.btn-share,
.btn-favorit {
  color: #fff;
  width: 28px;
  height: 22px;
  text-align: center;
  padding: 3px;
  z-index: 2;
  background-color: #fff;

  &.active {
    svg {
      fill: #4acdc9;
    }
  }
}

.btn-share {
  svg {
    stroke: #353535;
    stroke-width: 2px;
    vertical-align: top;
  }
  &:hover {
    svg {
      fill: #4acdc9;
    }
  }
}

.region-group {
  &__item {
    margin-bottom: 5px;
  }
  &__title {
    margin-bottom: 10px;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;

    li {
      width: 50%;
      font-size: 14px;
      font-weight: 400;
      padding-left: 25px;
      margin-bottom: 4px;
    }
  }
}

.collapse {
  position: relative;

  &__btn {
    span {
      border-bottom: 1px dashed;
      color: #353535;
    }

    &:before {
      content: '\25bc';
      display: inline-block;
      vertical-align: middle;
      left: 0;
      top: 0;
      font-size: 16px;
    }
  }

  &__body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  &.active {
    .collapse__btn {
      &:before {
        content: '\25b2';
      }
    }

    &:before {

    }
  }
}

.btn-favorit {
  svg {
    fill: currentColor;
    stroke: #353535;
    stroke-width: 2px;
    vertical-align: top;
  }
  &:hover {
    svg {
      stroke: #4acdc9;
      fill: transparent;
    }
  }
}

.select2-dropdown {
  z-index: 999999;
}
.list-counter {
  counter-reset: list-count;

  li {
    position: relative;
    padding: 7px 0 5px 48px;
    margin: 15px 0;

    &:before {
      content: counter(list-count);
      counter-increment: list-count;
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      font-size: 16px;
      font-weight: 600;
      color: #333;
      background-color: #FFD20B;
      width: 30px;
      height: 30px;
      line-height: 30px;
      border-radius: 30px;
      text-align: center;
    }
  }
}

ul.list-justify {
  li {
    display: flex;
    justify-content: space-between;
  }
}

.car-stats {
  display: flex;

  li {
    //padding-left: 25px;
    margin-right: 20px;
    font-size: 12px;
    line-height: (17 / 12);
    color: #7A7A7A;
    &:before {
      content: '';
      display: inline-block;
      vertical-align: bottom;
      width: 18px;
      height: 18px;
      margin-right: 6px;
    }
  }

  &__views {
    //background: url('../img/svg/icon-views.svg') no-repeat left center / contain;
    &:before {
      background: url('../img/svg/icon-views.svg') no-repeat center / contain;
    }
  }
  &__rating {
    //background: url('../img/svg/icon-rating.svg') no-repeat left center / contain;
    &:before {
      background: url('../img/svg/icon-star.svg') no-repeat center / contain;
    }
  }

  &__deal {
    //background: url('../img/svg/icon-deal.svg') no-repeat left center / contain;
    &:before {
      background: url('../img/svg/icon-deal.svg') no-repeat center / contain;
    }
  }

  &__favorite {
    //background: url('../img/svg/icon-favorite.svg') no-repeat left center / contain;
    &:before {
      background: url('../img/svg/icon-favorite.svg') no-repeat center / contain;
    }
  }
}

.scroll-off {
  overflow: hidden;
}

.link-location {
  white-space: nowrap;
}

.icon-svg {
  display: inline-block;
  background-color: transparent;
  vertical-align: middle;
  fill: currentColor;
  position: relative;
  top: -1px;

  &--favorite,
  &--search,
  &--location {
    fill: #fff;
    &:hover {
      fill: #00a9a4;
    }
  }
}

.preloader {
  background-color: rgba(0, 0, 0, 0.6);
  background-image: url(/images/site-preloader.gif);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 40px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}


.layout {
  height: 100%;
  &__inner {
    padding-top: 51px;
  }
}



.phone {
  white-space: nowrap;
}

.popup {
  display: none;

  &__title {
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 20px;
  }
  &--request {
    max-width: 520px;
    padding: 20px 10px;
    padding-left: 10px;
    padding-right: 10px;

    .form-button {
      text-align: center;

      @media screen and (min-width: $screen-md) {
        text-align: right;
      }
    }

  }
}

textarea {
  display: block;
  width: 100%;
  padding: 13px 14px;
  font-size: 14px;
  line-height: 20px;
  font-family: inherit;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 2px;
  appearance: textfield;
}

.field-captcha {
  text-align: center;
  margin-bottom: 20px;

  &__inner {
    display: inline-block;
  }
}

.field-textarea,
.form-button {
  margin-bottom: 20px;
}



.is-bg-gray {
  background-color: $grey-lighter;
}
.is-bg-green {
  background-color: $green;
}

.video-container {
  position: relative;
  max-width: 1256px;
  height: 320px;
  margin: 0 auto;
  overflow: hidden;

  @include tablet {
    height: 474px;
  }

  // > div {
  //   position: relative;
  //   height: 100%;
  //   background-color: #F5F5F5;
  // }

  .btn {
    display: block;
    height: 100%;

    &:before {
      transition: all .2s linear;
      opacity: .5;
      filter: alpha(opacity=50);
      content: " ";
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: url(../img/svg/youtube.svg);
      background-repeat: no-repeat;
      background-size: contain;
      top: 0;
      left: 0;
      cursor: pointer;
      z-index: 3;
      background-size: 83px;
      background-position: center;
    }

    &:hover:before {
      opacity: 1;
      filter: alpha(opacity=100);
    }

    &.hide:before {
      opacity: 0 !important;
      filter: alpha(opacity=0) !important;
      transform: scale(2);
      transition: all 1.2s;
    }
  }

  img {
    &.hide {
      opacity: 0 !important;
      filter: alpha(opacity=0) !important;
      transform: scale(1.5);
      transition: all 1.2s;
    }
  }

  .plyr {
    height: 100%;
  }
  .plyr__control,
  .plyr__controls {
    display: none !important;
  }
  .plyr__video-embed {
    padding-bottom: 0 !important;
    height: 100%;
  }
}
.video-container .btn {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all .2s linear;



  &.hide {
    opacity: 0 !important;
    filter: alpha(opacity=0) !important;
    transform: scale(1.5);
    transition: all 1.2s;
  }
}
// .video-container iframe,
.video-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  object-fit: cover;
  transition: all .2s linear;
}

.slick-arrow {
  visibility: hidden;
  position: absolute;
  top: 50%;
  font-size: 0;
  outline: none;
  background-color: transparent;
  border: 1px solid #919AA3;
  width: 34px;
  height: 34px;
  border-radius: $radius-rounded;
  transform: translateY(-50%);
  z-index: 2;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.2;

  @include tablet {
    visibility: visible;
  }

  &:focus {
      outline: none;
  }

  &:hover {
      opacity: 0.7;
  }
  
  &::before {
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto;
      border-style: solid;
      border-width: 1px;
      transform: rotate(45deg);
  }
}
.slide-prev {
  left: 0;

  &:before {
      border-color: transparent transparent #919AA3 #919AA3;
      left: 3px;
  }
}
.slide-next {
  right: 0;

  &:before {
      border-color: #919AA3 #919AA3 transparent transparent;
      right: 3px;
  }
}
.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -64px;
  left: 0;
  right: 0;

  li {
      padding: 10px;
  }
  button {
      display: block;
      background: transparent;
      border: 1px solid #919AA3;
      padding: 0;
      width: 14px;
      height: 14px;
      border-radius: 14px;
      font-size: 0;
      cursor: pointer;
      &:hover {
          background-color: #2DE691;
          border-color: #2DE691;
      }
  }

  .slick-active {
      button {
          background-color: #2DE691;
          border-color: #2DE691;
      }
  }
}

.notice {
  position: relative;
  display: inline-block;
  padding-left: 40px;

  
  @include mobile {
    font-size: $size-5;
  }

  &::before {
    content: '!';
    position: absolute;
    left: 0;
    top: -5px;
    width: 30px;
    height: 30px;
    background: #2DE691;
    box-shadow: 0px 0px 10px rgba(45, 230, 145, 0.6);
    line-height: 30px;
    border-radius: 30px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-right: 10px;
    text-align: center;
  }
}