@import "../utilities/_all.scss";

.block-bg-full {
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 400px;
  padding: 70px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    margin-bottom: 0;
  }

  &__inner {
    text-align: center;
  }

  &__head {
    padding-bottom: 3em;
  }

  &__action {
    &-button {
      padding-bottom: 1em;
    }
    &-text {}
  }

  &:before {
    content: '';
    background-color: rgba(0,0,0, 0.6);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
}