@import "../utilities/_all.scss";

.rent-cars-row-block {
  padding: 70px 0;

  h2 {
    padding-bottom: 30px;
  }

  .card {
    max-width: 100%;
  }

  .card__photo {
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}

.recommendation {
  padding-bottom: 40px;
}