extends templates/main
	
block title
	| Главная страница

block content

	header.header
		.bubble(data-aos="zoom-in-right" data-aos-duration="700")
		.container
			.header__bar
				.header__logo
					a.logo(href="index.html")
						img(src="img/logo.svg", alt="u-robot.ru")
				.header__nav
					ul.nav
						li.nav__item
							a.nav__link.active(href="about.html") Робот
						li.nav__item
							a.nav__link(href="location.html") Робот в твоем городе
						li.nav__item
							a.button.is-link(href="https://docs.google.com/forms/d/1T6Dezqa7URN4IYcG1Q4RmeYXEAVgEhvMjTbuGx_6Hfc/edit" data-aos="fade-down" data-aos-delay="650") Попробовать
			.header__hero
				.columns.is-vcentered
					.column.is-8-tablet
						.header__intro
							h1.header__title(data-aos="fade-up" data-aos-delay="500") Создай сайт своего бизнеса во всех топ-мессенджерах за 20 минут
							.header__text(data-aos="fade-up" data-aos-delay="600")
								| U-robot — мобильная платформа для взаимодействия
								| предпринимателей и клиентов, а также создания сайтов и
								| платежных онлайн сервисов в мессенджерах и социальных сетях.
							.header__action
								a.button.is-link(href="https://docs.google.com/forms/d/1T6Dezqa7URN4IYcG1Q4RmeYXEAVgEhvMjTbuGx_6Hfc/edit" data-aos="fade-up" data-aos-delay="650") Попробуй
								.tag-wrap(data-aos="fade-up" data-aos-delay="700")
									span.tag.is-success Free
									span.tag-text.has-text-grey 10 дней бесплатно
					.column.is-4-tablet
						.header__img-wrap
							.header__img(data-aos="fade-left" data-aos-delay="500")
								img(src="img/design/app-mockup.png", alt="image robot")
							.header__img-icons
								span(data-aos="zoom-in" data-aos-delay="800" style="top: 40%; left: -14%; z-index: -1;")
									img(src="img/svg/facebook.svg", width="80" height="80" alt="")
								span(data-aos="zoom-in" data-aos-delay="950" style="top: 12%; right: -19%;")
									img(src="img/svg/telegram.svg", width="140" height="140" alt="")
								span(data-aos="zoom-in" data-aos-delay="900" style="top: 64%; left: -21%;")
									img(src="img/svg/vk.svg", width="116" height="116" alt="")
								span(data-aos="zoom-in" data-aos-delay="900" style="bottom: -2%; right: 11%;")
									img(src="img/svg/instagram.svg", width="116" height="116" alt="")
								span(data-aos="zoom-in" data-aos-delay="850" style="top: 69.5%; right: -12%;")
									img(src="img/svg/whatsapp.svg", width="80" height="80" alt="")
								span(data-aos="zoom-in" data-aos-delay="900" style="top: 40%; right: -41%;")
									img(src="img/svg/viber.svg", width="116" height="116" alt="")

	section.section.is-bg-gray
		.container
			h2 Кому нужно нанимать Робота
			.card-list.slide-mobile
				.columns.is-multiline.is-tablet
					.column.is-4
						.card(data-aos="fade-up" data-aos-easing="ease-out-sine" data-aos-duration="300" data-aos-delay="0")
							.card__image
								span.icon.is-large.is-fill.is-rounded
									img(src="img/svg/icon-4.svg", alt="")
							h3.card__title Кафе и рестораны
							.card__body Общайтесь со своими постоянными клиентами, бронируйте столик и принимайте оплату онлайн в случае доставки
					.column.is-4
						.card(data-aos="fade-up" data-aos-easing="ease-out-sine" data-aos-duration="300" data-aos-delay="100")
							.card__image
								span.icon.is-large.is-fill.is-rounded
									img(src="img/svg/icon-5.svg", alt="")
							h3.card__title Туристические агенства
							.card__body Напоминйте клиентами которые уже пользовались вашими услугами, предлагая им интересные туры и акции
					.column.is-4
						.card(data-aos="fade-up" data-aos-easing="ease-out-sine" data-aos-duration="300" data-aos-delay="150")
							.card__image
								span.icon.is-large.is-fill.is-rounded
									img(src="img/svg/icon-6.svg", alt="")
							h3.card__title Частные мастера
							.card__body Презентуйте свои услуги, записывайте клиентов на прием и принимайте оплату прямо из чата мессенджеров
					.column.is-4
						.card(data-aos="fade-up" data-aos-easing="ease-out-sine" data-aos-duration="300" data-aos-delay="200")
							.card__image
								span.icon.is-large.is-fill.is-rounded
									img(src="img/svg/icon-9.svg", alt="")
							h3.card__title Интернет магазины
							.card__body Расширьте свои продажи в месенджерах и соц. сетях, а так же подключите онлайн оплату
					.column.is-4
						.card(data-aos="fade-up" data-aos-easing="ease-out-sine" data-aos-duration="300" data-aos-delay="250")
							.card__image
								span.icon.is-large.is-fill.is-rounded
									img(src="img/svg/icon-7.svg", alt="")
							h3.card__title IT-компании и банки
							.card__body Уменьшите нагрузку на техническую поддержку своей компании: большую часть ответов можно автоматизировать 
					.column.is-4
						.card(data-aos="fade-up" data-aos-easing="ease-out-sine" data-aos-duration="300" data-aos-delay="300")
							.card__image
								span.icon.is-large.is-fill.is-rounded
									img(src="img/svg/icon-8.svg", alt="")
							h3.card__title Ваш бизнес
							.card__body Для всех сфер, которые сталкиваются с потерей клиентов, привлечению новых и работой уже с существующей клиентской базой

	section.section.capability
		.container
			.capability__inner
				//- .capability__img
				img(src="img/design/personage-2.png", alt="").capability__img
				span.capability__item.capability__item--1 Он знает о вашем бизнесе все!
				span.capability__item.capability__item--2 
					| Он отличный
					br 
					| Маркетолог
				span.capability__item.capability__item--3 Он Аналитик
				span.capability__item.capability__item--4 Он быстро учится
				span.capability__item.capability__item--5 Он общается с клиентами
				span.capability__item.capability__item--6 
					| А вы?
					br
					| А вы еще лучше, потому 
					br
					| что решили его нанять!
				span.capability__item.capability__item--7 
					| Он знает Ваш продукт 
					br
					| не хуже вас			
	section.section.tariff
		.container
			.tariff__head
				h2.tariff__head-title Сколько стоит робот
				.notice Попробуйте U-Robot бесплатно: если не понравится, отмените подписку, и платить не придется.
				.buttons.has-addons.is-centered
					button.button.is-large.js-tariff-period(data-period="1" data-aos="zoom-in" data-aos-easing="ease-out-sine" data-aos-duration="300" data-aos-delay="0") 1 месяц
					button.button.is-large.js-tariff-period(data-period="3" data-aos="zoom-in" data-aos-easing="ease-out-sine" data-aos-duration="300" data-aos-delay="100")
						| 3 месяца
						small скидка 10%
					button.button.is-large.js-tariff-period(data-period="6" data-aos="zoom-in" data-aos-easing="ease-out-sine" data-aos-duration="300" data-aos-delay="150")
						| 6 месяцев
						small скидка 20%
					button.button.is-large.js-tariff-period.is-link(data-period="12" data-aos="zoom-in" data-aos-easing="ease-out-sine" data-aos-duration="300" data-aos-delay="200")
						| 12 месяцев
						small скидка 30%
			.js-slide-tariff.columns
				.column.is-3-tablet
					.tariff__item(data-aos="fade-up" data-aos-easing="ease-out-sine" data-aos-offset="0" data-aos-duration="300" data-aos-delay="0")
						.tariff__head
							.tariff__name U-Free
							.tariff__price.tariff__price--free
								span(data-period-1).show 0
								| ₽/мес
						ul.tariff__options
							li
								| Агрегатор мессенджеров.
							li
								| Общайтесь в одном приложении.
							li
								| Фильтруйте сообщения по типу мессенджеров.
							li
								| Отпарвляйте сообщения сразу всем контактам во все мессенджеры
						a.button(href="https://docs.google.com/forms/d/1T6Dezqa7URN4IYcG1Q4RmeYXEAVgEhvMjTbuGx_6Hfc/edit").is-link.is-outlined.is-large.is-fullwidth Начать
				.column.is-3-tablet
					.tariff__item(data-aos="fade-up" data-aos-easing="ease-out-sine" data-aos-offset="0" data-aos-duration="300" data-aos-delay="0")
						.tariff__head
							.tariff__name U-Air
							.tariff__price
								span(data-period-1) 4999
								span(data-period-3) 4499
								span(data-period-6) 3999
								span(data-period-12).show 3499
								| ₽/мес
						ul.tariff__options
							li
								| Электронная визитка в диалоговом окне мессенджера
								br
								| (Telegram, Viber, Messenger Facebook, Instagram Direct, WhatsApp, VK)
							li
								| Лендинг в мессенджерах
							li
								| Виртуальный ассистент
								br
								| (презентация услуг, ответ на вопросы, информирование клиентов)
							li
								| Сбор информации о клиентах и их сегментирование
							li
								| Отправка персональных предложений сегментированным клиентам
							li
								| Планировщик записи, доставки, приема
							li
								| Прием платежей на карту ( p2p )
							li.has-text-grey
								| Интеграция в CRM
							li.has-text-grey
								| Создание собственной автоворонки продаж
								br
								| (с возможностью настройки сообщений и автоматической сегментацией клиентов в зависимости от критериев )
							li.has-text-grey
								| Прием платежей на р/с
								br
								| ( processing )
							li.has-text-grey
								| Бесшовная интеграция в
								br
								| 1с: бухгалтерия
							li.has-text-grey
								| Бесшовная интеграция в
								br
								| 1с: склад
						a.button(href="https://docs.google.com/forms/d/1T6Dezqa7URN4IYcG1Q4RmeYXEAVgEhvMjTbuGx_6Hfc/edit").is-link.is-outlined.is-large.is-fullwidth Начать бесплатно
				.column.is-3-tablet
					.tariff__item.tariff__item--soon(data-aos="fade-up" data-aos-easing="ease-out-sine" data-aos-offset="0" data-aos-duration="300" data-aos-delay="100")
						.tariff__head
							.tariff__name U-Classic
							.tariff__price
								span(data-period-1) 9999
								span(data-period-3) 8999
								span(data-period-6) 7999
								span(data-period-12).show 6999
								| ₽/мес
						ul.tariff__options
							li
								| Электронная визитка в диалоговом окне мессенджера
								br
								| (Telegram, Viber, Messenger Facebook, Instagram Direct, WhatsApp, VK)
							li
								| Лендинг в мессенджерах
							li
								| Виртуальный ассистент
								br
								| (презентация услуг, ответ на вопросы, информирование клиентов)
							li
								| Сбор информации о клиентах и их сегментирование
							li
								| Отправка персональных предложений сегментированным клиентам
							li
								| Планировщик записи, доставки, приема
							li
								| Прием платежей на карту ( p2p )
							li
								| Интеграция в CRM
							li
								| Создание собственной автоворонки продаж
								br
								| (с возможностью настройки сообщений и автоматической сегментацией клиентов в зависимости от критериев )
							li
								| Прием платежей на р/с
								br
								| ( processing )
							li
								| Бесшовная интеграция в
								br
								| 1с: бухгалтерия
							li
								| Бесшовная интеграция в
								br
								| 1с: склад
						a.button(href="https://docs.google.com/forms/d/1T6Dezqa7URN4IYcG1Q4RmeYXEAVgEhvMjTbuGx_6Hfc/edit").is-link.is-outlined.is-large.is-fullwidth Начать бесплатно
				.column.is-3-tablet
					.tariff__item.tariff__item--soon(data-aos="fade-up" data-aos-easing="ease-out-sine" data-aos-offset="0" data-aos-duration="300" data-aos-delay="150")
						.tariff__head
							.tariff__name U-PRO 
							.tariff__price
								span(data-period-1) 14 999
								span(data-period-3) 13 499
								span(data-period-6) 11 999
								span(data-period-12).show 9 999
								| ₽/мес
						ul.tariff__options
							li
								| Электронная визитка в диалоговом окне мессенджера
								br
								| (Telegram, Viber, Messenger Facebook, Instagram Direct, WhatsApp, VK)
							li
								| Лендинг в мессенджерах
							li
								| Виртуальный ассистент
								br
								| (презентация услуг, ответ на вопросы, информирование клиентов)
							li
								| Сбор информации о клиентах и их сегментирование
							li
								| Отправка персональных предложений сегментированным клиентам
							li
								| Планировщик записи, доставки, приема
							li
								| Прием платежей на карту ( p2p )
							li
								| Интеграция в CRM
							li
								| Создание собственной автоворонки продаж
								br
								| (с возможностью настройки сообщений и автоматической сегментацией клиентов в зависимости от критериев )
							li
								| Прием платежей на р/с
								br
								| ( processing )
							li
								| Бесшовная интеграция в
								br
								| 1с: бухгалтерия
							li
								| Бесшовная интеграция в
								br
								| 1с: склад
						a.button(href="https://docs.google.com/forms/d/1T6Dezqa7URN4IYcG1Q4RmeYXEAVgEhvMjTbuGx_6Hfc/edit").is-link.is-outlined.is-large.is-fullwidth Начать бесплатно
	section.form-question.is-bg-gray
		.columns
			.column
				form(action="").form-question__form
					|<div class="field">
					| 	<div class="control">
					| 		<input class="input" type="text" placeholder="Имя" value="bulma">
					| 	</div>
					|</div>
					|<div class="field">
					| 	<div class="control">
					| 		<input class="input is-danger" type="email" placeholder="e-mail" value="hello@">
					| 	</div>
					| 	<p class="help is-danger">This email is invalid</p>
					|</div>
					|<div class="field">
					|	<div class="control">
					|		<textarea class="textarea" placeholder="Сообщение"></textarea>
					|	</div>
					|</div>
					|<div class="field">
					|	<div class="control">
					|		<button type="submit" class="button is-link">Отправить</button>
					|	</div>
					|</div>	
			.column.has-background-info.is-flex
				.form-question__text
					p Остались вопросы?
					br
					p Спросите нашего робота, он уже давно за вами наблюдает
block footer
	footer.footer
		.container
			.footer__logo
				a(href="/")
					img(src="img/logo.svg", alt="u-robot.ru")
			.has-text-grey
				.footer__text Надежный помощник для вашего бизнеса
				.footer__copy © 2018, U-Robot
