extends templates/main
	
block title
	| Главная страница

block content

	section.section.section--intro
		.container
			h1.intro-title Аренда автомобилей у владельцев
			h3.intro-subtitle уникальные предложения от людей поблизости
		
			include ../blocks/search/search

	section.section
		.container
			.grid
				.grid__col-md-9
					include ../blocks/box-link-catalog/box-link-catalog
				.grid__col-md-5
					include ../blocks/box-event/box-event

	section.section.advantage
		.container
			.section__head
				h2 Преимущества сервиса
			.grid.jc--between
				.grid__col
					.column-text
						.column-text__icon
							+svg-icon('icon-2', 63, 63)
						.column-text__title Большой выбор
				.grid__col
					.column-text
						.column-text__icon
							+svg-icon('icon-3', 71, 49)
						.column-text__title Выгода
				.grid__col
					.column-text
						.column-text__icon
							+svg-icon('icon-4', 66, 60)
						.column-text__title Удобство
				.grid__col
					.column-text
						.column-text__icon
							+svg-icon('icon-5', 66, 66)
						.column-text__title Безопасность
				.grid__col
					.column-text
						.column-text__icon
							+svg-icon('icon-6', 66, 66)
						.column-text__title Современно
			.section__footer
				a(href="").btn.btn--orange Попробовать
	
	section
		.container
			.grid
				.grid__col-md-5
					include ../blocks/box-appeal/box-appeal
				.grid__col-md-9
					| калькулятор

	section.section.section--promo
		.container
			.section__head
				h2 Акции
			.grid.flex-column.flex-md-row
				.grid__col
					+column-text(
						'../img/design/promo-icon-1.png', 
						'Бесплатные поездки',
						'Бонус на поездку при первой аренде от 10.000a',
						'Подробнее',
						'btn--turq btn--shadow'
					)
				.grid__col
					+column-text(
						'../img/design/promo-icon-2.png', 
						'Скидка 50%',
						'На каждую 6ую поездку',
						'Подробнее',
						'btn--turq btn--shadow'
					)
				.grid__col
					+column-text(
						'../img/design/promo-icon-3.png', 
						'Бонусная программа',
						'«Копи Ренты, получай Райды»',
						'Подробнее',
						'btn--turq btn--shadow'
					)

	section.section
		.container
			.section__head
				h2 Истории успеха
			include ../blocks/carousel-stories/carousel-stories
			.section__footer
				a(href="").btn.btn--shadow.btn--wide Вступай в клуб

	section.section
		.container
			.section__head
				h2 Решения
			include ../blocks/carousel-solutions/carousel-solutions
	
	section.section
		.container
			.section__head
				h2 Подбор автомобиля
			include ../blocks/carousel-cars/carousel-cars

	section.section.section--how
		.container
			.section__head
				h2 Как мы работаем
			.grid.jc--between
				.grid__col
					+column-text(
						'../img/icons/how-icon.png', 
						'Структурализм органичен.',
						'Аксиология трансформирует анимус. Структурализм, на первый взгляд, просветляет невротический экзистенциализм. Художественное опосредование выстраивает миракль.'
					)
				.grid__col
					+column-text(
						'../img/icons/how-icon.png', 
						'Структурализм органичен.',
						'Аксиология трансформирует анимус. Структурализм, на первый взгляд, просветляет невротический экзистенциализм. Художественное опосредование выстраивает миракль.'
					)
				.grid__col
					+column-text(
						'../img/icons/how-icon.png', 
						'Структурализм органичен.',
						'Аксиология трансформирует анимус. Структурализм, на первый взгляд, просветляет невротический экзистенциализм. Художественное опосредование выстраивает миракль.'
					)
				.grid__col
					+column-text(
						'../img/icons/how-icon.png', 
						'Структурализм органичен.',
						'Аксиология трансформирует анимус. Структурализм, на первый взгляд, просветляет невротический экзистенциализм. Художественное опосредование выстраивает миракль.'
					)
				.grid__col
					+column-text(
						'../img/icons/how-icon.png', 
						'Структурализм органичен.',
						'Аксиология трансформирует анимус. Структурализм, на первый взгляд, просветляет невротический экзистенциализм. Художественное опосредование выстраивает миракль.'
					)
			.section__footer
				a.btn.btn--orange Зарегистрироваться

	section.section
		.container
			.grid.flex-column.flex-lg-row
				.grid__col.grid__col-lg-9
					include ../blocks/last-post/last-post
				.grid__col.grid__col-lg-5
					include ../blocks/last-news/last-news
	
	section.section
		.container
			.grid.flex-column.flex-lg-row
				.grid__col.grid__col-lg-8
					include ../blocks/mobile-app/mobile-app
				.grid__col.grid__col-lg-6
					include ../blocks/feedback-box/feedback-box

	include ../blocks/join/join


block footer
	include ../blocks/footer/footer