extends templates/main
	
block title
	| Главная страница

block content

	header.header.is-bubble
		.bubble(data-aos="zoom-in-right" data-aos-duration="700")
		.container
			.header__bar
				.header__logo
					a.logo(href="index.html")
						img(src="img/logo.svg", alt="u-robot.ru")
				.header__nav
					ul.nav
						li.nav__item
							a.nav__link(href="about.html") Робот
						li.nav__item
							a.nav__link(href="location.html") Робот в твоем городе
						li.nav__item
							a.button.is-link(href="https://docs.google.com/forms/d/1T6Dezqa7URN4IYcG1Q4RmeYXEAVgEhvMjTbuGx_6Hfc/edit" data-aos="fade-down" data-aos-delay="650") Попробовать
			.header__hero
				.columns.is-vcentered
					.column.is-8-tablet
						.header__intro
							h1.header__title(data-aos="fade-up" data-aos-delay="500") Создай сайт своего бизнеса во всех топ-мессенджерах за 20 минут
							.header__text(data-aos="fade-up" data-aos-delay="600")
								| U-robot — мобильная платформа для взаимодействия
								| предпринимателей и клиентов, а также создания сайтов и
								| платежных онлайн сервисов в мессенджерах и социальных сетях.
							.header__action
								a.button.is-link(href="https://docs.google.com/forms/d/1T6Dezqa7URN4IYcG1Q4RmeYXEAVgEhvMjTbuGx_6Hfc/edit" data-aos="fade-up" data-aos-delay="650") Попробуй
								.tag-wrap(data-aos="fade-up" data-aos-delay="700")
									span.tag.is-success Free
									span.tag-text.has-text-grey 10 дней бесплатно
					.column.is-4-tablet
						.header__img-wrap
							.header__img(data-aos="fade-left" data-aos-delay="500")
								img(src="img/design/app-mockup.png", alt="image robot")
							.header__img-icons
								span(data-aos="zoom-in" data-aos-delay="800" style="top: 40%; left: -14%; z-index: -1;")
									img(src="img/svg/facebook.svg", width="80" height="80" alt="")
								span(data-aos="zoom-in" data-aos-delay="950" style="top: 12%; right: -19%;")
									img(src="img/svg/telegram.svg", width="140" height="140" alt="")
								span(data-aos="zoom-in" data-aos-delay="900" style="top: 64%; left: -21%;")
									img(src="img/svg/vk.svg", width="116" height="116" alt="")
								span(data-aos="zoom-in" data-aos-delay="900" style="bottom: -2%; right: 11%;")
									img(src="img/svg/instagram.svg", width="116" height="116" alt="")
								span(data-aos="zoom-in" data-aos-delay="850" style="top: 69.5%; right: -12%;")
									img(src="img/svg/whatsapp.svg", width="80" height="80" alt="")
								span(data-aos="zoom-in" data-aos-delay="900" style="top: 40%; right: -41%;")
									img(src="img/svg/viber.svg", width="116" height="116" alt="")
	
	section.section.is-paddingless
		| <div class="video-container">
		| 	<div class="js-load-video" data-service="youtube" data-placeholder="" data-embed="vxAI5ZerjtA">
		| 		<a href="#" class="btn" title="Play Video"></a>
		| 	</div>
		| </div>

	section.is-paddingless.canvas-wrap
		.container
			.win
				.win__img
					img(src="img/logo_forum.png")
				.win__text
					.win__text-label KAZAN EXPO
					.win__text-title Победители Российского венчурного форума 2019
	
	section.section
		.container
			.clients
				h2 Наши клиенты
				.clients__list
					.columns.is-multiline.is-mobile.is-vcentered.has-text-centered
						.column.is-6-mobile.is-3-tablet
							img(src="img/content/clients/mygadget.png", alt="")
						.column.is-6-mobile.is-3-tablet
							img(src="img/content/clients/store77.png", alt="")
						.column.is-6-mobile.is-3-tablet
							img(src="img/content/clients/roaddream.png", alt="")
						.column.is-6-mobile.is-3-tablet
							img(src="img/content/clients/marfa.png", alt="")
						.column.is-6-mobile.is-3-tablet
							img(src="img/content/clients/support.png", alt="")
						.column.is-6-mobile.is-3-tablet
							img(src="img/content/clients/regra.png", alt="")
						.column.is-6-mobile.is-3-tablet
							img(src="img/content/clients/dufa.png", alt="")
						.column.is-6-mobile.is-3-tablet
							img(src="img/content/clients/salad.png", alt="")
	section.section.news
		.container
			h2.news__title Новости проекта
			.js-slide-news.columns
				.column.is-4-tablet
					.news__item
						.news__date April 28, 2015
						.news__title Architecture Gets a Little Sweeter 
						.news__short Most people can think of two things gum is good for: freshening your breath, and blowing bubbles. Sam Kaplan found a third: crafting colorful models of futuristic architecture
				.column.is-4-tablet
					.news__item
						.news__date April 11, 2015
						.news__title Let's Explore an Ancient Volcanic Eruption
						.news__short The photographer used thousands of sticks of Double Mint and 5 Gum like you might use Legos to create the vaguely Brutalist buildings in his series Unwrapped
				.column.is-4-tablet
					.news__item
						.news__date April 19, 2015
						.news__title The Web Isn’t Dead After All. Google Made Sure of It
						.news__short Chris Anderson proclaimed the demise of the World Wide Web—that vast, interconnected, wonderfully egalitarian universe of internet pages and services we can visit through browser software

	section.section.faq
		.container
			h2.faq__title Часто задаваемые вопросы
			.columns.is-multiline.is-tablet
				.column.is-6
					.faq__item
						span.faq__question.js-faq Вопрос из фака
						.faq__answer 
							p The photographer used thousands of sticks of Double Mint and 5 Gum like you might use Legos to create the vaguely Brutalist buildings in his series Unwrapped
				.column.is-6
					.faq__item
						span.faq__question.js-faq Вопрос из фака
						.faq__answer 
							p The photographer used thousands of sticks of Double Mint and 5 Gum like you might use Legos to create the vaguely Brutalist buildings in his series Unwrapped
				.column.is-6
					.faq__item
						span.faq__question.js-faq Вопрос из фака
						.faq__answer
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Est laudantium quae vitae vel quos, officiis repellat expedita ea nulla dicta!
							p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam esse quasi excepturi accusantium temporibus, sapiente quisquam commodi numquam quas nesciunt suscipit nobis dolor et, minima ea possimus officia, amet quam nostrum mollitia corporis ipsa modi necessitatibus.
				.column.is-6
					.faq__item
						span.faq__question.js-faq Вопрос из фака
						.faq__answer 
							p The photographer used thousands of sticks of Double Mint and 5 Gum like you might use Legos to create the vaguely Brutalist buildings in his series Unwrapped
				.column.is-6
					.faq__item
						span.faq__question.js-faq Вопрос из фака
						.faq__answer 
							p The photographer used thousands of sticks of Double Mint and 5 Gum like you might use Legos to create the vaguely Brutalist buildings in his series Unwrapped
				.column.is-6
					.faq__item
						span.faq__question.js-faq Вопрос из фака
						.faq__answer 
							p The photographer used thousands of sticks of Double Mint and 5 Gum like you might use Legos to create the vaguely Brutalist buildings in his series Unwrapped

block footer
	footer.footer
		.container
			.footer__logo
				a(href="/")
					img(src="img/logo.svg", alt="u-robot.ru")
			.has-text-grey
				.footer__text Надежный помощник для вашего бизнеса
				.footer__copy © 2018, U-Robot
