.search
	.container
		form.search__form
			.search__location
				|<label class="field-text">
				//- |  <span class="field-text__name">Текстовое поле</span>
				|  <span class="field-text__input-wrap">
				|    <input class="field-text__input" type="text" placeholder="input[type=text]">
				|  </span>
				|</label>
			.search__date
				.search__date-begin
					|<label class="field-text">
					//- |  <span class="field-text__name">Текстовое поле</span>
					|  <span class="field-text__input-wrap">
					|    <input class="field-text__input" type="text" placeholder="input[type=text]">
					|  </span>
					|</label>
				.search__date-end
					|<label class="field-text">
					//- |  <span class="field-text__name">Текстовое поле</span>
					|  <span class="field-text__input-wrap">
					|    <input class="field-text__input" type="text" placeholder="input[type=text]">
					|  </span>
					|</label>
			.search__button
				input(class="btn btn--green" type="submit" value="Найти")
