footer.footer
	.container
		.footer__inner
			.footer__col.footer__col--left
				.footer-logo
					img(src="../img/logo.png", alt="Rentride")
				.footer-phone
					a(href="tel:+74951208070") +7(495)120-80-70
			.footer__col.footer__col--middle
				ul.footer-nav
					li.footer-nav__item
						a.footer-nav__link
							| Как это работает
					li.footer-nav__item
						a.footer-nav__link
							| Карта
					li.footer-nav__item
						a.footer-nav__link
							| Подборки
					li.footer-nav__item
						a.footer-nav__link
							| Блог
					li.footer-nav__item
						a.footer-nav__link
							| Как сдать в аренду
					li.footer-nav__item
						a.footer-nav__link
							| Страховка
					li.footer-nav__item
						a.footer-nav__link
							| Помощь
					li.footer-nav__item
						a.footer-nav__link
							| Контакты
			.footer__col.footer__col--right
				.footer-applinks
					a.footer-applinks__link(href="https://play.google.com/store/apps/details?id=ru.sbssoft.rentride.c2c.android.v1")
						img(src="../img/app-google.png", width="180" alt="Google play store")
					a.footer-applinks__link(href="https://itunes.apple.com/us/app/rent-a-ride/id1217024772?l=ru&ls=1&mt=8")
						img(src="../img/app-apple.png", width="180" alt="Apple app store")
				.footer__payment
					img(src="../img/card-mastercard.svg", width="80" alt="Card Mastercard")
					img(src="../img/card-visa.svg", width="80" alt="Card Visa")
			
