// В этом файле должны быть стили для БЭМ-блока .card , его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий... 
.car-test {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;

  .card {
    padding: 10px;
  }
}
.card {
  max-width: 300px;
  position: relative;
  z-index: 1;
  transition: transform 1s;

  //&:hover {
  //  z-index: 3;
  //
  //  //.card__info-hover {
  //  //  opacity: 1;
  //  //  transform: translateY(0);
  //  //}
  //}

  &__photo {
    background: url('../img/svg/icon-no-photo.svg') no-repeat center center;
    background-color: #e0e0e0;
    position: relative;
    height: 180px;
    z-index: 2;
    overflow: hidden;

    &-link {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      touch-action: manipulation;
    }

    &-img {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50%;
      padding-top: 66.675%;
    }

    ul {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      z-index: 2;
      visibility: hidden;
      opacity: 0;
      transition: all 0.125s ease-in-out;

      li {
        position: relative;
        flex: 1;

        &:after {
          content: "";
          position: absolute;
          bottom: 1px;
          left: 1px;
          right: 1px;
          height: 3px;
          background: #fff;
          transition: background 0.125s ease-in-out;
        }
        &.active {
          &:after {
            background: #75a3c6;
          }
        }
      }
    }

    .card__price {
      background-color: #fff;
      position: absolute;
      bottom: 8px;
      right: 0;
      font-weight: 600;
      color: #353535;
      text-transform: lowercase;
      text-align: left;

      &-unit,
      &-total {
        padding: 6px 10px;

        > span {
          display: block;
          line-height: 0.9;
        }

        span:first-child {

        }
        span:last-child {
          font-size: 11px;
        }
      }

      &-unit {
        background-color: #fff;
        span:first-child {
          font-size: 18px;
          font-weight: 700;
          .rub {
            font-size: 16px;
          }
        }
      }
      &-total {
        background-color: #f1f1f1;
        color: rgba(53, 53, 53, 0.8);
        span:first-child {
          font-size: 14px;
          .rub {
            font-size: 14px;
          }
        }
      }
    }

    &-hover {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      visibility: hidden;
      opacity: 0;
      transition: all 0.125s ease-in-out;

      &.more {
        display: flex;

        &:before {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-color: rgba(0,0,0, 0.45);
        }

        span {
          position: relative;
          margin: auto;
          color: #fff;
          font-weight: 600;
          transform: scale(0.7);
          transform-origin: center center;
          transition: transform 0.25s ease-in-out;
        }
      }

      &.show {
        visibility: visible;
        opacity: 1;

        span {
          transform: scale(1);
        }
      }
    }

    &-count {
      background-color: rgba(0,0,0,.26);
      font-size: 11px;
      line-height: 1;
      position: absolute;
      bottom: 5px;
      left: 5px;
      padding: 0 6px 0 26px;
      height: 22px;
      display: flex;
      align-items: center;
      color: #fff;


      &:before {
        content: '';
        display: block;
        position: absolute;
        left: 5px;
        width: 16px;
        height: 15px;
        background: url('../img/svg/icon-photo.svg') no-repeat center center;
      }
    }
  }

  &__favorit {
    position: absolute;
    top: 8px;
    right: 0;
    color: #fff;
    width: 28px;
    height: 22px;
    text-align: center;
    padding: 3px;
    z-index: 2;
    background-color: #fff;

    svg {
      fill: currentColor;
      stroke: #353535;
      stroke-width: 2px;
      vertical-align: top;
    }

    &:hover {
      svg {
        stroke: #4acdc9;
        fill: transparent;
      }
    }
    &.active {
      svg {
        fill: #4acdc9;
      }
    }
  }

  &__rating {
    position: absolute;
    top: 8px;
    right: 29px;
    font-size: 11px;
    height: 22px;
    line-height: 22px;
    font-weight: 600;
    padding: 0 8px 0 25px;
    background: rgb(255, 255, 255) url('../img/svg/icon-star.svg') no-repeat 3px center;
    background-size: 16px;
    z-index: 2;
  }

  &__info {
    padding: 8px 0 10px;
    z-index: 1;

    &-hover {
      position: absolute;
      top: 0;
      transform: translateY(-100%);
      background-color: #fff;
      width: 100%;
      padding: 5px 5px 10px;
      opacity: 0;
      transition: all 0.2s ease-in-out;
    }

    .card__price {
      display: none;
      font-weight: 600;
      font-size: 10px;
      color: #353535;
      line-height: 0.9;
      margin-right: auto;
      align-self: flex-end;

      @media screen and (min-width: @screen-md) {
        width: 100%;
        font-size: 14px;
      }

      &-unit {
        margin-bottom: 3px;

        span:first-child {
          display: inline-block;
          font-size: 14px;
          line-height: 1;
          font-weight: 700;

          @media screen and (min-width: @screen-md) {
            font-size: 20px;
          }
        }
      }

      &-total {
        font-size: 14px;
        line-height: 1;
        font-weight: 400;
        color: rgba(56, 56, 58, 0.57);
      }
    }
  }

  &__title {
    font-size: 16px;
    margin-bottom: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    @media screen and (min-width: 375px) {
      font-size: 18px;
    }

    span {
      display: block;
      margin-right: 3px;
      font-size: 14px;
      color: rgba(53, 53, 53, 1);
    }

    a {
      color: rgba(53, 53, 53, 1);

      &:hover {
        color: #74a3c7;
        text-decoration: none;
      }
    }

    &--nowrap {
      white-space: nowrap;
      position: relative;
      overflow: hidden;
      line-height: 1;
      margin-bottom: 2px;

      &:before {
        content: '';
        position: absolute;
        right: 0;
        width: 50px;
        height: 100%;
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
      }
    }
  }

  &__address {
    display: block;
    font-size: 12px;
    color: rgba(53, 53, 53, 0.7);
    margin: 3px 0 5px;
    height: 28px;
    overflow: hidden;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      width: 60px;
      height: 14px;
      display: inline-block;
      bottom: 0;
      right: 0;
      background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 65%);
    }
  }

  &__footer {
    display: flex;

    .rating {
      margin-left: auto;
    }
  }

  &--preview-show {
    background-color: rgba(0, 0, 0, 0.05);
    .card__address {
      &:after {
        background: linear-gradient(90deg,hsla(0,0%,100%,0) 0,rgb(241, 241, 241) 65%);
      }
    }
  }

  &:hover {
    ul {
      visibility: visible;
      opacity: 1;
    }
  }
}

