.card
	.card__photo
		img(src="../img/content/car-photo.jpg", alt="Volvo S80 I, 2014")
		.card__favorit
			| @
		.card__price
			span 2 500
			| в сутки
	.card__info
		h3.card__title
			| Volvo S80 I, 2014
		span.card__address
			| Тверская 12
		.card__footer
			span.badge Каско
			span.badge.badge--yellow Осаго
			include ../rating/rating