//- mixin svg-icon(name, size)
//-     - var size = size || 16;
//-     - var sprite = "/assets/svg/icons.svg"
//-     - var prefix = "icon-"

//-     svg(viewBox='0 0 ' + size + ' ' + size width=size height=size)
//-         use(xlink:href='/assets/svg/icons.svg#icon-' + name)


.carousel-cars-type
	a(href="#").carousel-cars-type__item
		+svg-icon('car-economy', 51, 26)
		span Эконом
	a(href="#").carousel-cars-type__item
		+svg-icon('car-standard', 58, 26)
		span Компакт
	a(href="#").carousel-cars-type__item
		+svg-icon('car-business', 64, 26)
		span Бизнес
	a(href="#").carousel-cars-type__item
		+svg-icon('car-premium', 53, 26)
		span Люкс
	a(href="#").carousel-cars-type__item
		+svg-icon('car-suv', 53, 26)
		span Внедорожники
	a(href="#").carousel-cars-type__item
		+svg-icon('car-minivan', 57, 26)
		span SUV


.js-carousel-cars.carousel-cars.owl-carousel.caro
	.carousel-cars__item
		include ../card/card
	.carousel-cars__item
		include ../card/card
	.carousel-cars__item
		include ../card/card
	.carousel-cars__item
		include ../card/card
	.carousel-cars__item
		include ../card/card