.catalog-pane
	.catalog-pane__sorting
		select
			option(value="") По цене
			option(value="") По убыванию
			option(value="") По возрастанию
		select
			option(value="") По расстоянию
			option(value="") 23412
			option(value="") 23412341
			option(value="") 23
	.catalog-pane__views
		a(href="")
			+svg-icon('map', 22, 24)
			span Закрыть карту

.catalog-tabs.catalog-tabs--view-map
	.catalog-tabs__sidebar
		.catalog
			.card
				.card__photo
					img(src="../img/content/car-photo.jpg", alt="Volvo S80 I, 2014")
					.card__favorit
						| @
					.card__photo-price
						span 2 500
						| в сутки
				.card__info
					h3.card__title Volvo S80 I,
						span 2014
					span.card__address
						| Тверская 12
					.card__footer
						.card__info-price
							span 2 500
							| в сутки
						span.badge Каско
						span.badge.badge--yellow Осаго
						include ../rating/rating
			.card
				.card__photo
					img(src="../img/content/car-photo.jpg", alt="Volvo S80 I, 2014")
					.card__favorit
						| @
					.card__photo-price
						span 2 500
						| в сутки
				.card__info
					h3.card__title Volvo S80 I, Volvo S80 I, Volvo S80 I, Volvo S80 I, Volvo S80 I,
						span 2014
					span.card__address
						| Тверская 12
					.card__footer
						.card__info-price
							span 2 500
							| в сутки
						span.badge Каско
						span.badge.badge--yellow Осаго
						include ../rating/rating
			.card
				.card__photo
					img(src="../img/content/car-photo.jpg", alt="Volvo S80 I, 2014")
					.card__favorit
						| @
					.card__photo-price
						span 2 500
						| в сутки
				.card__info
					h3.card__title Volvo S80 I,
						span 2014
					span.card__address
						| Тверская 12
					.card__footer
						.card__info-price
							span 2 500
							| в сутки
						span.badge Каско
						span.badge.badge--yellow Осаго
						include ../rating/rating
			.card
				.card__photo
					img(src="../img/content/car-photo.jpg", alt="Volvo S80 I, 2014")
					.card__favorit
						| @
					.card__photo-price
						span 2 500
						| в сутки
				.card__info
					h3.card__title Volvo S80 I,
						span 2014
					span.card__address
						| Тверская 12
					.card__footer
						.card__info-price
							span 2 500
							| в сутки
						span.badge Каско
						span.badge.badge--yellow Осаго
						include ../rating/rating
			.card
				.card__photo
					img(src="../img/content/car-photo.jpg", alt="Volvo S80 I, 2014")
					.card__favorit
						| @
					.card__photo-price
						span 2 500
						| в сутки
				.card__info
					h3.card__title Volvo S80 I,
						span 2014
					span.card__address
						| Тверская 12
					.card__footer
						.card__info-price
							span 2 500
							| в сутки
						span.badge Каско
						span.badge.badge--yellow Осаго
						include ../rating/rating
			.card
				.card__photo
					img(src="../img/content/car-photo.jpg", alt="Volvo S80 I, 2014")
					.card__favorit
						| @
					.card__photo-price
						span 2 500
						| в сутки
				.card__info
					h3.card__title Volvo S80 I,
						span 2014
					span.card__address
						| Тверская 12
					.card__footer
						.card__info-price
							span 2 500
							| в сутки
						span.badge Каско
						span.badge.badge--yellow Осаго
						include ../rating/rating
			.card
				.card__photo
					img(src="../img/content/car-photo.jpg", alt="Volvo S80 I, 2014")
					.card__favorit
						| @
					.card__photo-price
						span 2 500
						| в сутки
				.card__info
					h3.card__title Volvo S80 I,
						span 2014
					span.card__address
						| Тверская 12
					.card__footer
						.card__info-price
							span 2 500
							| в сутки
						span.badge Каско
						span.badge.badge--yellow Осаго
						include ../rating/rating
			.card
				.card__photo
					img(src="../img/content/car-photo.jpg", alt="Volvo S80 I, 2014")
					.card__favorit
						| @
					.card__photo-price
						span 2 500
						| в сутки
				.card__info
					h3.card__title Volvo S80 I,
						span 2014
					span.card__address
						| Тверская 12
					.card__footer
						.card__info-price
							span 2 500
							| в сутки
						span.badge Каско
						span.badge.badge--yellow Осаго
						include ../rating/rating
		
		include ../pagination/pagination

	.catalog-tabs__map
		| <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Afcec3c8b0d9df359195315c6be2f7725acbe81c3b2373c8ed0d69f600852e969&amp;lang=ru_RU&amp;scroll=true&amp;source=constructor" width="100%" height="100%" frameborder="0"></iframe>