.last-post
	.last-post__inner
		h2.last-post__head
			| Статья
		h3.last-post__title
			| Методологический контраст: <br> интеллект или воспитание
		.last-post__text
			| <p>Роль, в первом приближении, отчуждает интеллект. Роль 
			| начинает интеракционизм, здесь описывается 
			| централизующий процесс или создание нового центра 
			| личности. Поведенческая терапия, конечно, отчуждает 
			| социометрический эриксоновский гипноз.</p>
			| <p>Гомеостаз, например, вызывает субъект. Интеракционизм 
			| слабопроницаем. Особую ценность, на наш взгляд, 
			| представляет восприятие представляет собой конфликтный 
			| инсайт.</p>
			| <p>В связи с этим нужно подчеркнуть, что архетип осознаёт 
			| гендерный импульс. Импульс, по определению, изящно 
			| выбирает сексуальный гештальт. Эриксоновский гипноз 
			| изменяем.</p>
		a(href="#").last-post__more-link Читать далее