// В этом файле должны быть стили для БЭМ-блока .datetimepicker-custom , его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий... 

.bootstrap-datetimepicker-widget.dropdown-menu {
  padding: 35px;
  font-size: 18px;
  border: 1px solid #cccccc;
  width: 27.5em;
  position: absolute;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.19);
  z-index: 20;
  background: #fff;
}

.selectDay {
  font-style: italic;
}

.bootstrap-datetimepicker-widget table th,
.bootstrap-datetimepicker-widget table th.dow,
.bootstrap-datetimepicker-widget table td.day {
  height: 70px;
  line-height: 70px;
  width: 70px;
}

.bootstrap-datetimepicker-widget table td.day.today {
  background-color: #fcf8e3;
  color: #333;
}
.bootstrap-datetimepicker-widget table td.day {
  cursor: pointer;
}
.bootstrap-datetimepicker-widget table td.day.hover {
  background-color: yellow;
}
.bootstrap-datetimepicker-widget table td.day.old {
  color: #dadada;
}
.bootstrap-datetimepicker-widget table td.day.not-available-full {
  background-color: #ff7878;
  color: #fff;
}

.bootstrap-datetimepicker-widget table td.day.not-available-part {
  background-color: #fdcd00;
  color: #fff;
}
.bootstrap-datetimepicker-widget table td.day.time.disabled {
  background-color: #fdcd00;
  color: #fff;
}

.bootstrap-datetimepicker-widget table {
  table-layout: fixed;
  font-style: italic;
}
.bootstrap-datetimepicker-widget .calendar-legend {
  font-size: 12px;
  padding-top: 15px;

  &__item {
    padding: 2.5px 0;
    display: flex;
    align-items: center;

    &:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      max-width: 20px;
      width: 100%;
      height: 20px;
      border-radius: 20px;
      margin-right: 10px;
    }

    &--select-day {
      &:before {
        background-color: #4cccc9;
      }
    }
    &--full-day {
      &:before {
        background-color: #ff7878;
      }
    }
    &--part-day {
      &:before {
        background-color: #fdcd00;
      }
    }
    &--curent-day {
      &:before {
        background-color: #fcf8e3;
      }
    }
  }
}
.bootstrap-datetimepicker-widget .table-condensed {
  border-spacing: 1px;
  border-collapse: separate;
}
.bootstrap-datetimepicker-widget .table-condensed td .bootstrap-datetimepicker-widget .table-condensed tbody td {
  cursor: pointer;
}

.bootstrap-datetimepicker-widget table th.picker-switch {
  width: 350px;
}

.bootstrap-datetimepicker-widget table th {
  line-height: 70px;
}

.bootstrap-datetimepicker-widget table td.day:not(.disabled):hover,
.bootstrap-datetimepicker-widget table td.hour:hover,
.bootstrap-datetimepicker-widget table td.minute:hover,
.bootstrap-datetimepicker-widget table td.second:hover {
  background-color: #4cccc9;
  color: #fff;
  text-shadow: none;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
  background-color: #4cccc9;
  color: #fff;
  text-shadow: none;
}

.bootstrap-datetimepicker-widget table td,
.bootstrap-datetimepicker-widget table th {
  text-align: center;
  border-radius: 100%;
}

.bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
  background: transparent;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
  padding: 17.5px;
  font-size: 16px;
  border: 1px solid #cccccc;
  width: 297px;
}

.bootstrap-datetimepicker-widget table th.prev,
.bootstrap-datetimepicker-widget table th.next {
  width: 36px;
  cursor: pointer;
}

.bootstrap-datetimepicker-widget table th.prev .glyphicon {
  width: 15px;
  height: 10px;
  display: inline-block;
  background: transparent url(../img/svg/arrow-grey.svg) no-repeat 0 0;
  background-size: cover;
  transform: rotate(90deg);
}

.bootstrap-datetimepicker-widget table th.next .glyphicon {
  width: 15px;
  height: 10px;
  display: inline-block;
  background: transparent url(../img/svg/arrow-grey.svg) no-repeat 0 0;
  background-size: cover;
  transform: rotate(-90deg);
}

.bootstrap-datetimepicker-widget table {
  table-layout: fixed;
}

.bootstrap-datetimepicker-widget table th,
.bootstrap-datetimepicker-widget table th.dow,
.bootstrap-datetimepicker-widget table td.day {
  height: 34px;
  line-height: 34px;
  width: 34px;
}

.bootstrap-datetimepicker-widget table {
  table-layout: fixed;
  font-style: italic;
}

.bootstrap-datetimepicker-widget table th.picker-switch {
  width: 180px;
}

.irs-line-left,
.irs-line-mid,
.irs-line-right {
  height: 10px;
  background-color: #e9eef0;
}

.irs-bar,
.irs-slider {
  background-color: #00a9a4;
  border-radius: 25px;
}

.irs-line,
.irs-bar {
  height: 10px;
  top: 15px;
}

.irs-from,
.irs-to,
.irs-single {
  color: #000;
  font-size: 12px;
  font-weight: 600;
  background: transparent;
  -moz-border-radius: 3px;
  border-radius: 0;
  top: 30px;
}

.irs-min,
.irs-max {
  color: #999;
  font-size: 12px;
  line-height: 1.333;
  text-shadow: none;
  bottom: -7px;
  top: auto;
  padding: 1px 3px;
  background: transparent;
  border-radius: none;
}

.irs .irs-slider {
  top: 7px;
  width: 25px;
  height: 25px;
}