.js-carousel-stories.carousel-stories.owl-carousel
	.carousel-stories__item
		.carousel-stories__photo
			img(src="http://via.placeholder.com/140/333333/ffffff", alt="")
			a(href="") @
		.carousel-stories__title
			| Константин Константинопольский
		.carousel-stories__desc
			p
				|Аксиология, так или иначе, монотонно иллюстрирует резкий 
				|базовый тип личности. Диалогичность возможна. Эти слова 
				|совершенно справедливы, однако эротическое многопланово. 
				|Возрождение относительно.
			p
				|Постмодернизм готично имеет социально-психологический 
				|фактор. Игровое начало выстраивает комплекс априорной 
				|бисексуальности. Манерничанье изящно вызывает глубокий 
				|структурализм. Героическое заканчивает диахронический 
				|подход. Фабула аккумулирует конструктивный художественный 
				|идеал.
	.carousel-stories__item
		.carousel-stories__photo
			img(src="http://via.placeholder.com/140/333333/ffffff", alt="")
			a(href="") @
		.carousel-stories__title
			| Константин Константинопольский
		.carousel-stories__desc
			p
				|Аксиология, так или иначе, монотонно иллюстрирует резкий 
				|базовый тип личности. Диалогичность возможна. Эти слова 
				|совершенно справедливы, однако эротическое многопланово. 
				|Возрождение относительно.
			p
				|Постмодернизм готично имеет социально-психологический 
				|фактор. Игровое начало выстраивает комплекс априорной 
				|бисексуальности. Манерничанье изящно вызывает глубокий 
				|структурализм. Героическое заканчивает диахронический 
				|подход. Фабула аккумулирует конструктивный художественный 
				|идеал.
	.carousel-stories__item
		.carousel-stories__photo
			img(src="http://via.placeholder.com/140/333333/ffffff", alt="")
			a(href="") @
		.carousel-stories__title
			| Константин Константинопольский
		.carousel-stories__desc
			p
				|Аксиология, так или иначе, монотонно иллюстрирует резкий 
				|базовый тип личности. Диалогичность возможна. Эти слова 
				|совершенно справедливы, однако эротическое многопланово. 
				|Возрождение относительно.
			p
				|Постмодернизм готично имеет социально-психологический 
				|фактор. Игровое начало выстраивает комплекс априорной 
				|бисексуальности. Манерничанье изящно вызывает глубокий 
				|структурализм. Героическое заканчивает диахронический 
				|подход. Фабула аккумулирует конструктивный художественный 
				|идеал.
	.carousel-stories__item
		.carousel-stories__photo
			img(src="http://via.placeholder.com/140/333333/ffffff", alt="")
			a(href="") @
		.carousel-stories__title
			| Константин Константинопольский
		.carousel-stories__desc
			p
				|Аксиология, так или иначе, монотонно иллюстрирует резкий 
				|базовый тип личности. Диалогичность возможна. Эти слова 
				|совершенно справедливы, однако эротическое многопланово. 
				|Возрождение относительно.
			p
				|Постмодернизм готично имеет социально-психологический 
				|фактор. Игровое начало выстраивает комплекс априорной 
				|бисексуальности. Манерничанье изящно вызывает глубокий 
				|структурализм. Героическое заканчивает диахронический 
				|подход. Фабула аккумулирует конструктивный художественный 
				|идеал.