.box-link-catalog
	.box-link-catalog__inner
		.box-link-catalog__icon
			+svg-icon('car-sedan', 45, 16)
		h2.box-link-catalog__title Аренда автомобиля
		.box-link-catalog__subtitle Широкий выбор автомобилей всех классов
		.box-link-catalog__button
			a(href="map.html").btn.btn--shadow Посмотреть на карте