@charset "utf-8";
@import "utilities/_all.scss";

// global style libs
// @import "libs/animate.min.scss";
// @import "libs/bootstrap-datetimepicker.min.scss";
// @import "libs/bootstrap-datetimepicker-custom.scss";

// global style
@import "base/_all.scss";
@import "elements/_all.scss";

// компоненты на весь сайт
@import "components/_card.scss";
@import "components/_nav.scss";
@import "components/_status-ride.scss";
@import "components/_panel.scss";
// компоненты на весь сайт

@import "grid/_all.scss";
@import "layout/_all.scss";

$aos-distance: 500px;

.slick-arrow {
    position: absolute;
    top: 50%;
    font-size: 0;
    outline: none;
    background-color: transparent;
    border: 1px solid #919AA3;
    width: 34px;
    height: 34px;
    border-radius: $radius-rounded;
    transform: translateY(-50%);
    z-index: 2;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.2;

    &:focus {
        outline: none;
    }

    &:hover {
        opacity: 0.7;
    }
    
    &::before {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        border-style: solid;
        border-width: 1px;
        transform: rotate(45deg);
    }
}
.slick-prev,
.case-prev {
    left: 0;

    &:before {
        border-color: transparent transparent #919AA3 #919AA3;
        left: 3px;
    }
}
.slick-next,
.case-next {
    right: 0;

    &:before {
        border-color: #919AA3 #919AA3 transparent transparent;
        right: 3px;
    }
}
.slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -64px;
    left: 0;
    right: 0;

    li {
        padding: 10px;
    }
    button {
        display: block;
        background: transparent;
        border: 1px solid #919AA3;
        padding: 0;
        width: 14px;
        height: 14px;
        border-radius: 14px;
        font-size: 0;
        cursor: pointer;
        &:hover {
            background-color: #2DE691;
            border-color: #2DE691;
        }
    }

    .slick-active {
        button {
            background-color: #2DE691;
            border-color: #2DE691;
        }
    }
}

.video-fullwidth {
	position: relative;
	padding-bottom: 26.04%; /* 16:9 */
	padding-top: 25px;
    height: 0;
    margin: 0;
}
.video-fullwidth iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.integration-social {
    position: relative;

    &__list {
        display: flex;
        align-items: center;
        li {
            vertical-align: top;
            &:not(:first-child) {
                margin-left: -12px;
                
                @include tablet {
                    margin-left: -5px;
                }
            }
        }
        .icon {
            display: inline-block;
            img {
                border-radius: 100%;
            }
        }
    }

    &__text {
        position: absolute;
        font-weight: $weight-normal;
        font-size: $size-5;
        color: #919AA3;
        padding-left: 107px;
        padding-top: 11px;
        max-width: 357px;
        width: 100%;
        left: 25px;
        top: 100%;
        margin-top: 23px;
        @include tablet {
            left: 33%;
        }

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            background: url('../img/svg/curve-arrow.svg') no-repeat left top / cover;
            width: 94px;
            height: 45px;
        }

        span {
            color: #000;
        }
    }
}

.devices {
    background-color: #F5F5F5;
    overflow: hidden;

    &__toggle {
        margin-bottom: 20px;
        .button {
            margin-right: 20px;
        }
    }

    &__img {
        position: relative;
        width: 560px;

        &:after{
            content: '';
            display: block;
            padding-top: 65.54%;
        }
        
        &-desktop {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }
        
        &-mobile {
            width: (182 / 560 * 100%);
            position: absolute;
            bottom: -48.72px;
            left: -9.67px;
        }
    }
}

.trial {
    padding-bottom: 0;
    overflow: hidden;

    &__img {
        position: absolute;
        bottom: 0;

        img {
            max-width: 444px;
        }
    }

    &__text {
        max-width: 475px;
        font-size: $size-3;
        color: #288643;
        padding-bottom: 35px;

        @include tablet {
            margin-left: 63px;
        }

        .button {
            margin-top: 5px;
            margin-bottom: 20px;
            box-shadow: 0px 10px 20px rgba(40, 134, 67, 0.5);
            @include tablet {
                margin-top: 15px;
                margin-bottom: 32px;
            }
        }
    }
}

.discount {
    padding: 40px 18px;
    text-align: center;
    margin-bottom: 41px;

    h2 {
        line-height: 46px;
    }

    .column:first-child .discount-item:before {
        content: none;
    }

    &-item {
        text-align: center;
        font-weight: $weight-medium;
        margin: 30px 0;
        position: relative;

        &::before {
            content: '';
            width: 1px;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            background-color: #E6E6E6;
        }

        &__cat {
            color: #919AA3;
            line-height: 1;
            margin-bottom: 23px;
            min-height: 32px;
        }
    
        &__count {
            font-size: 32px;
            line-height: 1;
            color: #000;
        }
    }    
}

.case {
    position: relative;
    margin-bottom: 64px;

    &__inner {
        padding: ($panel-padding / 2) (($panel-padding / 2) + 20);
        max-width: 900px;
        box-shadow: 0px 10px 34px rgba(210, 210, 210, 0.5);
        border-radius: 10px;
        margin: 0 auto;
    }

    &__item {
        
        outline: none;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.reviews {
    max-width: 900px;
    margin: 0 auto;

    &__item {
        background-color: #fff;
        
        @media screen and (min-width: 720px) {
            display: flex;
        }
    }

    &__img {
        width: 100%;
        flex: none;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        overflow: hidden;
        position: relative;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        min-height: 270px;

        @media screen and (min-width: 720px) {
            width: (340 / 900 * 100%);
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            border-top-right-radius: 0;
            width: auto;
            height: auto;
        }

        &:before {
            display: block;
            content: "";
            width: 100%;
            padding-top: (270 / 340) * 100%;
        }
    }

    &__body {
        padding: 20px 10px;

        @media screen and (min-width: 720px) {
            padding: 30px 60px;
        }
    }

    &__author {
        font-size: $size-2;
        font-weight: $weight-medium;
        line-height: 37px;
        margin-bottom: 10px;
    }

    &__post,
    &__text {
        font-size: $size-3;
        line-height: 24px;
    }

    &__post {
        color: #919AA3;
        margin-bottom: 20px;
    }

    &__text {
        color: #171C34;
    }
}

.tariff {
    background-color: #fff;
    padding: 49px 20px 40px;
    box-shadow: 0px 0px 0px 0px rgba(10, 138, 255, 0), 0px 7px 0px rgba(83, 83, 83, 0);
    transition: box-shadow 0.175s ease-in-out;

    &__name {
        font-size: 32px;
        line-height: 1;
        margin-bottom: 30px;
    }

    &__price {
        color: $blue;
        font-size: 22px;
        line-height: 32px;
        margin-bottom: 40px;

        span {
            display: none;
            margin-right: 10px;
            font-size: 62px;
            line-height: 64px;

            &.show {
                display: block;
            }
        }
    }

    &__options {
        font-size: $size-4;
        margin-bottom: 40px;

        li {
            margin-bottom: 20px;
        }
    }

    &:hover {
        box-shadow: 0px -3px 0px 0px rgba(10, 138, 255, 1), 0px 7px 24px rgba(83, 83, 83, 0.1);
        cursor: default;
    }
}
