@charset "utf-8";
@import "utilities/_all.scss";

// global style libs
// @import "libs/animate.min.scss";
// @import "libs/bootstrap-datetimepicker.min.scss";
// @import "libs/bootstrap-datetimepicker-custom.scss";

// global style
@import "base/_all.scss";
@import "elements/_all.scss";

// компоненты на весь сайт
@import "components/_card.scss";
@import "components/_nav.scss";
@import "components/_status-ride.scss";
@import "components/_panel.scss";
@import "components/_integration-social.scss";
@import "components/_devices.scss";
@import "components/_trial.scss";
@import "components/_discount.scss";
@import "components/_case.scss";
@import "components/_reviews.scss";
@import "components/_clients.scss";
@import "components/_capability.scss";
@import "components/_tariff.scss";
@import "components/_faq.scss";
@import "components/_map.scss";
@import "components/_winner.scss";
@import "components/_partner.scss";
@import "components/_news.scss";
// компоненты на весь сайт

@import "grid/_all.scss";
@import "layout/_all.scss";

$aos-distance: 500px;

.form-question {
    &__form {
        max-width: 460px;
        margin: auto 90px auto auto;
    }

    &__text {
        max-width: 540px;
        margin: auto;
        font-size: $size-2;
        line-height: 37px;
        color: #fff;
        text-align: center;
    }
}