.js-carousel-solutions.carousel-solutions.owl-carousel
	.carousel-solutions__item(style="background-image: url(http://via.placeholder.com/380/333333/ffffff);")
		.carousel-solutions__title
			| Для работы
		.carousel-solutions__desc
			| Безлимитный пробег
		.carousel-solutions__button
			a(href="#").btn Посмотреть автомобили
	.carousel-solutions__item(style="background-image: url(http://via.placeholder.com/380/333333/ffffff);")
		.carousel-solutions__title
			| Для работы
		.carousel-solutions__desc
			| Безлимитный пробег по москве и московской области
		.carousel-solutions__button
			a(href="#").btn Посмотреть автомобили
	.carousel-solutions__item(style="background-image: url(http://via.placeholder.com/380/333333/ffffff);")
		.carousel-solutions__title
			| Для работы
		.carousel-solutions__desc
			| Безлимитный пробег по москве и московской области
			| Безлимитный пробег по москве и московской области
		.carousel-solutions__button
			a(href="#").btn Посмотреть автомобили
	.carousel-solutions__item(style="background-image: url(http://via.placeholder.com/380/333333/ffffff);")
		.carousel-solutions__title
			| Для работы
		.carousel-solutions__desc
			| Безлимитный пробег по москве и московской области
		.carousel-solutions__button
			a(href="#").btn Посмотреть автомобили